{
  "openapi": "3.0.3",
  "info": {
    "title": "BooksTrack V3 API",
    "version": "3.3.0",
    "description": "Contract-first API with shared Zod schemas",
    "contact": {
      "name": "BooksTrack API Support",
      "url": "https://github.com/bookstrack/api/issues"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.oooefam.net",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Discovery",
      "description": "API capabilities and recommendations"
    },
    {
      "name": "Books",
      "description": "Book metadata operations"
    },
    {
      "name": "Jobs",
      "description": "Async job management (imports, scans, enrichment)"
    },
    {
      "name": "Webhooks",
      "description": "External webhook handlers"
    }
  ],
  "paths": {
    "/v3/capabilities": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Get API capabilities",
        "description": "Returns API feature availability, limits, and deprecation notices. Clients should call this on app startup.",
        "operationId": "getCapabilities",
        "responses": {
          "200": {
            "description": "API capabilities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilitiesResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/recommendations/weekly": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Get weekly book recommendations",
        "description": "Returns global weekly book recommendations. Non-personalized curated picks generated every Sunday at midnight UTC.",
        "operationId": "getWeeklyRecommendations",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 10
            },
            "description": "Number of recommendations (1-20)"
          }
        ],
        "responses": {
          "200": {
            "description": "Weekly recommendations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendationsResponse"
                }
              }
            }
          },
          "404": {
            "description": "No recommendations available",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/books/search": {
      "get": {
        "tags": [
          "Books"
        ],
        "summary": "Search books",
        "description": "Unified search supporting multiple modes: text, semantic, similar",
        "operationId": "searchBooks",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "mode",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "text",
                "semantic",
                "similar"
              ],
              "default": "text"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/books/{isbn}": {
      "get": {
        "tags": [
          "Books"
        ],
        "summary": "Get book by ISBN",
        "operationId": "getBookByISBN",
        "parameters": [
          {
            "name": "isbn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(\\d{10}|\\d{13})$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Book details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookResponse"
                }
              }
            }
          },
          "404": {
            "description": "Book not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/books/enrich": {
      "post": {
        "tags": [
          "Books"
        ],
        "summary": "Enrich books with metadata",
        "operationId": "enrichBooks",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrichRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enriched books",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrichResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/jobs/imports": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Import books from CSV",
        "description": "Upload CSV file for background processing with Gemini 2.0 Flash. Returns immediately with jobId for progress tracking via SSE stream. Max file size: 8MB. Max rows: ~5000 books.",
        "operationId": "createImportJob",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "CSV file (max 8MB)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Import job accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobInitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid file (missing, wrong format)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "File too large (>8MB)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/jobs/imports/{jobId}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get import job status",
        "description": "Query current status of CSV import job. Use SSE stream for real-time updates (recommended). Polling fallback: max 1 request every 2 seconds.",
        "operationId": "getImportJobStatus",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Jobs"
        ],
        "summary": "Cancel import job",
        "description": "Cancel in-progress import job. Note: Jobs may not stop immediately (graceful shutdown).",
        "operationId": "cancelImportJob",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job canceled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Job already completed or failed",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/jobs/imports/{jobId}/stream": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Stream import progress (SSE)",
        "description": "Real-time progress updates via Server-Sent Events. Requires Bearer token from job creation response. Token valid for 1 hour.",
        "operationId": "streamImportProgress",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Bearer token from job creation"
          }
        ],
        "responses": {
          "200": {
            "description": "SSE stream",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "object",
                  "description": "Server-Sent Events stream with progress, complete, error, and ping events"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (invalid or expired token)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/jobs/imports/{jobId}/results": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get import job results",
        "description": "Fetch enriched books from completed import job. Results cached in KV for 1 hour after completion.",
        "operationId": "getImportJobResults",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResultsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found or not completed",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/jobs/scans": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Scan bookshelf photos",
        "description": "Upload 1-5 photos for AI-powered book detection with Gemini Vision. Returns immediately with jobId for progress tracking via SSE stream. Max size: 10MB per photo, 50MB total.",
        "operationId": "createScanJob",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "photos[]"
                ],
                "properties": {
                  "photos[]": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "minItems": 1,
                    "maxItems": 5,
                    "description": "Array of photo files (1-5 photos)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Scan job accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobInitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (missing photos, wrong format)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "File too large (photo >10MB or batch >50MB)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/jobs/scans/{jobId}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get scan job status",
        "description": "Query current status of bookshelf scan job. Use SSE stream for real-time updates (recommended). Polling fallback: max 1 request every 2 seconds.",
        "operationId": "getScanJobStatus",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Jobs"
        ],
        "summary": "Cancel scan job",
        "description": "Cancel in-progress scan job and cleanup R2 storage. Deletes all uploaded photos for this job. Note: Jobs may not stop immediately (graceful shutdown).",
        "operationId": "cancelScanJob",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job canceled (includes R2 cleanup status)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Job already completed or failed",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/jobs/scans/{jobId}/stream": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Stream scan progress (SSE)",
        "description": "Real-time progress updates via Server-Sent Events. Requires Bearer token from job creation response. Token valid for 1 hour.",
        "operationId": "streamScanProgress",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Bearer token from job creation"
          }
        ],
        "responses": {
          "200": {
            "description": "SSE stream",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "object",
                  "description": "Server-Sent Events stream with progress, complete, error, and ping events"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (invalid or expired token)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/jobs/scans/{jobId}/results": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get scan job results",
        "description": "Fetch detected books from completed scan job. Results include book metadata, bounding boxes, confidence scores, and enrichment data. Results cached in KV for 2 hours after completion.",
        "operationId": "getScanJobResults",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResultsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found or not completed",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/jobs/enrichment/{jobId}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get enrichment job status",
        "description": "Query current status of batch enrichment job. Use SSE stream for real-time updates (recommended). Polling fallback: max 1 request every 2 seconds.",
        "operationId": "getEnrichmentJobStatus",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Jobs"
        ],
        "summary": "Cancel enrichment job",
        "description": "Cancel in-progress enrichment job. Note: Jobs may not stop immediately (graceful shutdown).",
        "operationId": "cancelEnrichmentJob",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job canceled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Job already completed or failed",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/jobs/enrichment/{jobId}/stream": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Stream enrichment progress (SSE)",
        "description": "Real-time progress updates via Server-Sent Events. Progress updates every 25 books. Requires Bearer token from job creation response. Token valid for 1 hour.",
        "operationId": "streamEnrichmentProgress",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Bearer token from job creation"
          }
        ],
        "responses": {
          "200": {
            "description": "SSE stream",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "object",
                  "description": "Server-Sent Events stream with progress, complete, error, and ping events"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (invalid or expired token)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/jobs/enrichment/{jobId}/results": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get enrichment job results",
        "description": "Fetch enriched books from completed enrichment job. Results include enriched book metadata, books that were not found, and embedding generation status. Results cached in KV for 2 hours after completion.",
        "operationId": "getEnrichmentJobResults",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResultsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found or not completed",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/webhooks/alexandria/enrichment-complete": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Handle enrichment completion event",
        "description": "Receives notification from Alexandria when book enrichment is complete. Triggers a fresh fetch to update local D1 cache.",
        "operationId": "alexandriaEnrichmentComplete",
        "parameters": [
          {
            "name": "x-alexandria-webhook-secret",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Shared secret for authentication"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "isbn",
                  "type"
                ],
                "properties": {
                  "isbn": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "edition",
                      "work",
                      "author"
                    ]
                  },
                  "quality_improvement": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid secret",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "required": [
          "success",
          "data",
          "metadata"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "books": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Book"
                }
              },
              "total": {
                "type": "integer"
              }
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        }
      },
      "BookResponse": {
        "type": "object",
        "required": [
          "success",
          "data",
          "metadata"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/Book"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        }
      },
      "EnrichRequest": {
        "type": "object",
        "required": [
          "isbns"
        ],
        "properties": {
          "isbns": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^(\\d{10}|\\d{13})$"
            },
            "minItems": 1,
            "maxItems": 50
          },
          "includeEmbedding": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "EnrichResponse": {
        "type": "object",
        "required": [
          "success",
          "data",
          "metadata"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "books": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Book"
                }
              },
              "found": {
                "type": "integer"
              },
              "requested": {
                "type": "integer"
              }
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        }
      },
      "Book": {
        "type": "object",
        "required": [
          "isbn",
          "title",
          "authors",
          "provider",
          "quality"
        ],
        "properties": {
          "isbn": {
            "type": "string",
            "minLength": 13,
            "maxLength": 13,
            "description": "13-digit ISBN (example: 9780439708180)"
          },
          "isbn10": {
            "type": "string",
            "minLength": 10,
            "maxLength": 10,
            "description": "10-digit ISBN if available (example: 0439708184)"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "description": "Book title"
          },
          "subtitle": {
            "type": "string",
            "description": "Book subtitle"
          },
          "authors": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "$ref": "#/components/schemas/AuthorReference"
                }
              ]
            },
            "description": "List of authors (strings or enriched references)"
          },
          "publisher": {
            "type": "string",
            "description": "Publisher name"
          },
          "publishedDate": {
            "type": "string",
            "description": "Publication date (ISO 8601 or partial format)"
          },
          "description": {
            "type": "string",
            "description": "Book description/synopsis"
          },
          "pageCount": {
            "type": "integer",
            "minimum": 1,
            "description": "Number of pages"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Book categories/genres"
          },
          "language": {
            "type": "string",
            "description": "ISO 639-1 language code (e.g., \"en\")"
          },
          "coverUrl": {
            "type": "string",
            "format": "uri",
            "description": "Cover image URL (legacy single URL)"
          },
          "thumbnailUrl": {
            "type": "string",
            "format": "uri",
            "description": "Thumbnail image URL (deprecated: use coverUrls.small)"
          },
          "workKey": {
            "type": "string",
            "description": "OpenLibrary work key (e.g., OL82563W)"
          },
          "editionKey": {
            "type": "string",
            "description": "OpenLibrary edition key (e.g., OL7353617M)"
          },
          "provider": {
            "type": "string",
            "enum": [
              "alexandria",
              "google_books",
              "open_library",
              "isbndb"
            ],
            "description": "Data source provider"
          },
          "quality": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "Data quality score 0-100"
          },
          "coverUrls": {
            "$ref": "#/components/schemas/CoverUrls",
            "description": "Cover images in multiple sizes (Alexandria v2.2.4+)"
          },
          "coverSource": {
            "type": "string",
            "enum": [
              "r2",
              "external",
              "external-fallback"
            ],
            "description": "Source of the cover image (r2, external, external-fallback)"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "retryable": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "required": [
          "timestamp"
        ],
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "requestId": {
            "type": "string"
          },
          "cached": {
            "type": "boolean"
          },
          "processingTime": {
            "type": "integer",
            "description": "Request processing time in milliseconds"
          }
        }
      },
      "CapabilitiesResponse": {
        "type": "object",
        "required": [
          "features",
          "limits",
          "version"
        ],
        "description": "API capabilities (iOS-compatible flat format)",
        "properties": {
          "features": {
            "$ref": "#/components/schemas/CapabilitiesFeatures"
          },
          "limits": {
            "$ref": "#/components/schemas/CapabilitiesLimits"
          },
          "version": {
            "type": "string",
            "description": "API version"
          }
        }
      },
      "CapabilitiesFeatures": {
        "type": "object",
        "required": [
          "semantic_search",
          "similar_books",
          "weekly_recommendations",
          "sse_streaming",
          "batch_enrichment",
          "csv_import"
        ],
        "properties": {
          "semantic_search": {
            "type": "boolean",
            "description": "Semantic search enabled"
          },
          "similar_books": {
            "type": "boolean",
            "description": "Similar books search enabled"
          },
          "weekly_recommendations": {
            "type": "boolean",
            "description": "Weekly recommendations enabled"
          },
          "sse_streaming": {
            "type": "boolean",
            "description": "SSE streaming enabled"
          },
          "batch_enrichment": {
            "type": "boolean",
            "description": "Batch enrichment enabled"
          },
          "csv_import": {
            "type": "boolean",
            "description": "CSV import enabled"
          }
        }
      },
      "CapabilitiesLimits": {
        "type": "object",
        "required": [
          "semantic_search_rpm",
          "text_search_rpm",
          "csv_max_rows",
          "batch_max_photos"
        ],
        "properties": {
          "semantic_search_rpm": {
            "type": "integer",
            "description": "Semantic search requests per minute"
          },
          "text_search_rpm": {
            "type": "integer",
            "description": "Text search requests per minute"
          },
          "csv_max_rows": {
            "type": "integer",
            "description": "Maximum rows in CSV import"
          },
          "batch_max_photos": {
            "type": "integer",
            "description": "Maximum photos in batch scan"
          }
        }
      },
      "RecommendationsResponse": {
        "type": "object",
        "required": [
          "success",
          "data",
          "metadata"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "required": [
              "weekOf",
              "recommendations",
              "count",
              "totalAvailable"
            ],
            "properties": {
              "weekOf": {
                "type": "string",
                "description": "Week start date (ISO 8601)"
              },
              "recommendations": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Recommendation"
                }
              },
              "count": {
                "type": "integer",
                "description": "Number of recommendations returned"
              },
              "totalAvailable": {
                "type": "integer",
                "description": "Total recommendations available"
              }
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        }
      },
      "Recommendation": {
        "type": "object",
        "required": [
          "isbn",
          "title",
          "author",
          "reason"
        ],
        "properties": {
          "isbn": {
            "type": "string",
            "description": "Book ISBN"
          },
          "title": {
            "type": "string",
            "description": "Book title"
          },
          "author": {
            "type": "string",
            "description": "Primary author"
          },
          "coverUrl": {
            "type": "string",
            "format": "uri",
            "description": "Cover image URL"
          },
          "reason": {
            "type": "string",
            "description": "Why this book is recommended"
          }
        }
      },
      "JobInitResponse": {
        "type": "object",
        "required": [
          "success",
          "data",
          "metadata"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "required": [
              "jobId",
              "status",
              "streamUrl",
              "token"
            ],
            "properties": {
              "jobId": {
                "type": "string",
                "format": "uuid",
                "description": "Unique job identifier"
              },
              "status": {
                "type": "string",
                "enum": [
                  "queued",
                  "processing",
                  "completed",
                  "failed",
                  "canceled"
                ],
                "description": "Initial job status (always 'queued')"
              },
              "streamUrl": {
                "type": "string",
                "format": "uri",
                "description": "SSE stream URL for real-time progress"
              },
              "token": {
                "type": "string",
                "description": "Bearer token for SSE authentication (valid 1 hour)"
              }
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        }
      },
      "JobStatusResponse": {
        "type": "object",
        "required": [
          "success",
          "data",
          "metadata"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "required": [
              "jobId",
              "type",
              "status",
              "progress",
              "processedCount",
              "totalCount"
            ],
            "properties": {
              "jobId": {
                "type": "string",
                "format": "uuid"
              },
              "type": {
                "type": "string",
                "enum": [
                  "csv_import",
                  "bookshelf_scan",
                  "batch_enrichment"
                ],
                "description": "Job type"
              },
              "status": {
                "type": "string",
                "enum": [
                  "queued",
                  "processing",
                  "completed",
                  "failed",
                  "canceled"
                ],
                "description": "Current job status"
              },
              "progress": {
                "type": "number",
                "minimum": 0,
                "maximum": 1,
                "description": "Progress as decimal (0.0 to 1.0)"
              },
              "processedCount": {
                "type": "integer",
                "minimum": 0,
                "description": "Items processed so far"
              },
              "totalCount": {
                "type": "integer",
                "minimum": 0,
                "description": "Total items to process"
              },
              "startTime": {
                "type": "string",
                "format": "date-time",
                "description": "Job start timestamp"
              },
              "completedTime": {
                "type": "string",
                "format": "date-time",
                "description": "Job completion timestamp"
              },
              "error": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  }
                },
                "description": "Error details if job failed"
              }
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        }
      },
      "JobResultsResponse": {
        "type": "object",
        "required": [
          "success",
          "data",
          "metadata"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "required": [
              "jobId",
              "status",
              "results"
            ],
            "properties": {
              "jobId": {
                "type": "string",
                "format": "uuid"
              },
              "status": {
                "type": "string",
                "enum": [
                  "completed"
                ],
                "description": "Job status (only completed jobs have results)"
              },
              "results": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "description": "Job results (structure varies by job type)"
              }
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        }
      },
      "AuthorReference": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Author name"
          },
          "key": {
            "type": "string",
            "description": "OpenLibrary author key (e.g., /authors/OL7234434A)"
          },
          "openlibrary": {
            "type": "string",
            "format": "uri",
            "description": "OpenLibrary author URL"
          },
          "bio": {
            "type": "string",
            "description": "Author biography"
          },
          "gender": {
            "type": "string",
            "description": "Gender (male, female, Unknown)"
          },
          "nationality": {
            "type": "string",
            "description": "Nationality (e.g., United States, British)"
          },
          "birth_year": {
            "type": "integer",
            "description": "Birth year"
          },
          "death_year": {
            "type": "integer",
            "description": "Death year"
          },
          "wikidata_id": {
            "type": "string",
            "description": "Wikidata identifier (e.g., Q35064)"
          },
          "image": {
            "type": "string",
            "format": "uri",
            "description": "Author photo URL"
          }
        }
      },
      "CoverUrls": {
        "type": "object",
        "required": [
          "large",
          "medium",
          "small"
        ],
        "properties": {
          "large": {
            "type": "string",
            "format": "uri",
            "description": "Large cover image URL"
          },
          "medium": {
            "type": "string",
            "format": "uri",
            "description": "Medium cover image URL"
          },
          "small": {
            "type": "string",
            "format": "uri",
            "description": "Small cover image URL (thumbnail)"
          }
        }
      }
    }
  }
}
