{
  "openapi": "3.1.0",
  "info": {
    "title": "BooksTrack V3 API",
    "version": "3.0.0",
    "description": "Contract-first API with shared Zod schemas. This is a static reference spec - the live auto-generated spec is available at https://api.oooefam.net/v3/openapi.json",
    "contact": {
      "name": "BooksTrack API Support",
      "url": "https://github.com/bookstrack/api/issues"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.oooefam.net",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Books",
      "description": "Book metadata operations"
    }
  ],
  "paths": {
    "/v3/books/search": {
      "get": {
        "tags": ["Books"],
        "summary": "Search books by title",
        "description": "Unified search supporting text mode (semantic and similar modes coming soon)",
        "operationId": "searchBooks",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "Search query - book title to search for",
            "example": "Harry Potter"
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["text"],
              "default": "text"
            },
            "description": "Search mode (currently only 'text' supported)"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number for offset pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "headers": {
              "X-Request-ID": {
                "schema": { "type": "string" },
                "description": "Request correlation ID"
              },
              "X-Response-Time": {
                "schema": { "type": "string" },
                "description": "Response time in milliseconds"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (RFC 9457 Problem Details)",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "schema": { "type": "integer" },
                "description": "Seconds to wait before retry"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/books/{isbn}": {
      "get": {
        "tags": ["Books"],
        "summary": "Get book by ISBN",
        "description": "Direct lookup by ISBN (fastest path for known ISBNs). Supports conditional requests with ETag.",
        "operationId": "getBookByISBN",
        "parameters": [
          {
            "name": "isbn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d{10}(\\d{3})?$"
            },
            "description": "10 or 13 digit ISBN",
            "example": "9780439708180"
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ETag for conditional request"
          }
        ],
        "responses": {
          "200": {
            "description": "Book found",
            "headers": {
              "ETag": {
                "schema": { "type": "string" },
                "description": "Entity tag for caching"
              },
              "Cache-Control": {
                "schema": { "type": "string" },
                "description": "Caching directives"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookResponse"
                }
              }
            }
          },
          "304": {
            "description": "Not modified (ETag match)"
          },
          "404": {
            "description": "Book not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/books/enrich": {
      "post": {
        "tags": ["Books"],
        "summary": "Enrich books with metadata",
        "description": "Enrich single or multiple ISBNs with metadata from Alexandria. Supports batch operations (up to 50 ISBNs) and optional embedding generation.",
        "operationId": "enrichBooks",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrichRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Books enriched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrichResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No books found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Book": {
        "type": "object",
        "required": ["isbn", "title", "authors", "provider", "quality"],
        "properties": {
          "isbn": {
            "type": "string",
            "minLength": 13,
            "maxLength": 13,
            "description": "13-digit ISBN",
            "example": "9780439708180"
          },
          "isbn10": {
            "type": "string",
            "minLength": 10,
            "maxLength": 10,
            "description": "10-digit ISBN if available",
            "example": "0439708184"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "description": "Book title",
            "example": "Harry Potter and the Sorcerer's Stone"
          },
          "subtitle": {
            "type": "string",
            "description": "Book subtitle"
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of author names (NOT objects - simple string array)",
            "example": ["J.K. Rowling"]
          },
          "publisher": {
            "type": "string",
            "description": "Publisher name",
            "example": "Scholastic Inc."
          },
          "publishedDate": {
            "type": "string",
            "description": "Publication date in ISO 8601 or partial format",
            "example": "1998-09-01"
          },
          "description": {
            "type": "string",
            "description": "Book description/synopsis"
          },
          "pageCount": {
            "type": "integer",
            "minimum": 1,
            "description": "Number of pages",
            "example": 309
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Book categories/genres",
            "example": ["Fiction", "Fantasy"]
          },
          "language": {
            "type": "string",
            "description": "ISO 639-1 language code",
            "example": "en"
          },
          "coverUrl": {
            "type": "string",
            "format": "uri",
            "description": "Cover image URL"
          },
          "thumbnailUrl": {
            "type": "string",
            "format": "uri",
            "description": "Thumbnail image URL"
          },
          "workKey": {
            "type": "string",
            "description": "OpenLibrary work key",
            "example": "OL82563W"
          },
          "editionKey": {
            "type": "string",
            "description": "OpenLibrary edition key",
            "example": "OL7353617M"
          },
          "provider": {
            "type": "string",
            "enum": ["alexandria", "google_books", "open_library", "isbndb"],
            "description": "Data source provider",
            "example": "alexandria"
          },
          "quality": {
            "type": "number",
            "minimum": 0,
            "maximum": 100,
            "description": "Data quality score 0-100",
            "example": 95
          }
        }
      },
      "EnrichedBook": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Book"
          },
          {
            "type": "object",
            "required": ["vectorized"],
            "properties": {
              "vectorized": {
                "type": "boolean",
                "description": "Whether semantic embedding was generated"
              }
            }
          }
        ]
      },
      "SearchResponse": {
        "type": "object",
        "required": ["success", "data", "metadata"],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [true],
            "description": "Success discriminator (always true for successful responses)"
          },
          "data": {
            "type": "object",
            "required": ["books", "total", "query", "pagination"],
            "properties": {
              "books": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Book"
                },
                "description": "Array of book results"
              },
              "total": {
                "type": "integer",
                "minimum": 0,
                "description": "Total number of results"
              },
              "query": {
                "type": "object",
                "required": ["q", "mode"],
                "properties": {
                  "q": {
                    "type": "string",
                    "description": "Original search query"
                  },
                  "mode": {
                    "type": "string",
                    "enum": ["text"],
                    "description": "Search mode"
                  }
                }
              },
              "pagination": {
                "type": "object",
                "required": ["type", "page", "limit", "totalPages", "hasNext", "hasPrev"],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["offset"],
                    "description": "Pagination type (cursor-based coming soon)"
                  },
                  "page": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Current page number"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "description": "Results per page"
                  },
                  "totalPages": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Total number of pages"
                  },
                  "hasNext": {
                    "type": "boolean",
                    "description": "Whether there are more pages"
                  },
                  "hasPrev": {
                    "type": "boolean",
                    "description": "Whether there are previous pages"
                  }
                }
              }
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          },
          "_links": {
            "type": "object",
            "description": "HATEOAS links for resource discoverability",
            "additionalProperties": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "BookResponse": {
        "type": "object",
        "required": ["success", "data", "metadata"],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [true]
          },
          "data": {
            "$ref": "#/components/schemas/Book"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          },
          "_links": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "EnrichRequest": {
        "type": "object",
        "required": ["isbns"],
        "properties": {
          "isbns": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^\\d{10}(\\d{3})?$"
            },
            "minItems": 1,
            "maxItems": 50,
            "description": "Array of ISBNs to enrich (1-50, supports ISBN-10 and ISBN-13)",
            "example": ["9780439708180", "9780439064873"]
          },
          "includeEmbedding": {
            "type": "boolean",
            "default": false,
            "description": "Generate semantic embeddings for vector search"
          }
        }
      },
      "EnrichResponse": {
        "type": "object",
        "required": ["success", "data", "metadata"],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [true]
          },
          "data": {
            "type": "object",
            "required": ["books", "requested", "found"],
            "properties": {
              "books": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EnrichedBook"
                },
                "description": "Enriched books (may be fewer than requested if some not found)"
              },
              "requested": {
                "type": "integer",
                "minimum": 1,
                "description": "Number of ISBNs requested"
              },
              "found": {
                "type": "integer",
                "minimum": 0,
                "description": "Number of books found"
              },
              "notFound": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "ISBNs that were not found"
              }
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "required": ["timestamp"],
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of response"
          },
          "requestId": {
            "type": "string",
            "format": "uuid",
            "description": "Correlation ID for request tracing (X-Request-ID header)"
          },
          "source": {
            "type": "string",
            "enum": ["alexandria", "google_books", "open_library", "isbndb", "kv-cache", "vectorize"],
            "description": "Data source provider"
          },
          "cached": {
            "type": "boolean",
            "description": "Whether response was served from cache"
          },
          "processingTimeMs": {
            "type": "integer",
            "minimum": 0,
            "description": "Processing time in milliseconds"
          }
        }
      },
      "Link": {
        "type": "object",
        "required": ["href", "rel"],
        "properties": {
          "href": {
            "type": "string",
            "format": "uri",
            "description": "Link URL"
          },
          "rel": {
            "type": "string",
            "description": "Link relation type",
            "example": "self"
          },
          "method": {
            "type": "string",
            "enum": ["GET", "POST", "PUT", "PATCH", "DELETE"],
            "description": "HTTP method"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["success", "type", "title", "status", "code", "metadata"],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [false],
            "description": "Success discriminator (always false for error responses)"
          },
          "type": {
            "type": "string",
            "format": "uri",
            "default": "about:blank",
            "description": "URI reference identifying the problem type (RFC 9457)"
          },
          "title": {
            "type": "string",
            "description": "Short, human-readable summary of the problem type"
          },
          "status": {
            "type": "integer",
            "minimum": 100,
            "maximum": 599,
            "description": "HTTP status code"
          },
          "detail": {
            "type": "string",
            "description": "Human-readable explanation specific to this occurrence"
          },
          "instance": {
            "type": "string",
            "description": "URI reference identifying this specific occurrence"
          },
          "code": {
            "type": "string",
            "enum": [
              "MISSING_PARAMETER",
              "INVALID_REQUEST",
              "INVALID_ISBN",
              "INVALID_QUERY",
              "INVALID_FILE",
              "FILE_TOO_LARGE",
              "BATCH_TOO_LARGE",
              "EMPTY_BATCH",
              "NOT_FOUND",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "CLIENT_DISCONNECTED",
              "RATE_LIMIT_EXCEEDED",
              "CIRCUIT_OPEN",
              "PROVIDER_ERROR",
              "PROVIDER_TIMEOUT",
              "CACHE_ERROR",
              "INTERNAL_ERROR",
              "API_ERROR",
              "NETWORK_ERROR",
              "TIMEOUT",
              "FEATURE_NOT_AVAILABLE"
            ],
            "description": "Machine-readable error code (BooksTrack-specific)"
          },
          "retryable": {
            "type": "boolean",
            "description": "Whether the request can be retried"
          },
          "retryAfterMs": {
            "type": "integer",
            "minimum": 0,
            "description": "Milliseconds to wait before retry"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldError"
            },
            "description": "Field-level validation errors"
          },
          "metadata": {
            "type": "object",
            "required": ["timestamp"],
            "properties": {
              "timestamp": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp"
              },
              "requestId": {
                "type": "string",
                "format": "uuid",
                "description": "Request correlation ID"
              }
            }
          }
        }
      },
      "FieldError": {
        "type": "object",
        "required": ["field", "message"],
        "properties": {
          "field": {
            "type": "string",
            "description": "Field path",
            "example": "isbns[0]"
          },
          "message": {
            "type": "string",
            "description": "Validation error message"
          },
          "code": {
            "type": "string",
            "description": "Validation error code"
          }
        }
      }
    }
  }
}
