openapi: 3.1.0
info:
  title: BooksTrack API
  version: 3.2.0
  description: Book search, enrichment, and AI-powered scanning API
  contact:
    email: api-support@oooefam.net
servers:
  - url: https://api.oooefam.net
    description: Production
  - url: http://localhost:8787
    description: Local development

tags:
  - name: Search
    description: Book and author search operations
  - name: Enrichment
    description: Book metadata enrichment
  - name: Import
    description: CSV import and batch processing
  - name: Scanning
    description: Bookshelf photo scanning
  - name: Health
    description: System health and monitoring

components:
  schemas:
    SuccessResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
          const: true
        data:
          type: object
        metadata:
          type: object
          properties:
            timestamp:
              type: string
              format: date-time
            cached:
              type: boolean
            source:
              type: string
              enum: [google_books, open_library, isbndb, kv_cache]

    ErrorResponse:
      type: object
      required:
        - success
        - error
      properties:
        success:
          type: boolean
          const: false
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              enum:
                - NOT_FOUND
                - INVALID_REQUEST
                - RATE_LIMIT_EXCEEDED
                - CIRCUIT_OPEN
                - API_ERROR
                - NETWORK_ERROR
                - INTERNAL_ERROR
            message:
              type: string
            details:
              type: object
            retryable:
              type: boolean
            retryAfterMs:
              type: integer
            provider:
              type: string

    Book:
      type: object
      properties:
        isbn:
          type: string
          example: "9780439708180"
        isbn13:
          type: string
          example: "9780439708180"
        title:
          type: string
          example: "Harry Potter and the Sorcerer's Stone"
        authors:
          type: array
          items:
            type: string
          example: ["J.K. Rowling"]
        publisher:
          type: string
          example: "Scholastic"
        publishedDate:
          type: string
          format: date
          example: "1998-09-01"
        description:
          type: string
        pageCount:
          type: integer
          example: 320
        categories:
          type: array
          items:
            type: string
          example: ["Fiction", "Fantasy"]
        language:
          type: string
          example: "en"
        coverUrl:
          type: string
          format: uri
          example: "https://covers.openlibrary.org/b/isbn/9780439708180-L.jpg"
        averageRating:
          type: number
          format: float
          example: 4.5
        ratingsCount:
          type: integer
          example: 8000000

    EnrichedBook:
      allOf:
        - $ref: '#/components/schemas/Book'
        - type: object
          properties:
            work:
              type: object
              properties:
                id:
                  type: string
                  example: "/works/OL82563W"
                title:
                  type: string
                subjects:
                  type: array
                  items:
                    type: string
                firstPublishYear:
                  type: integer
            edition:
              type: object
              properties:
                id:
                  type: string
                  example: "/books/OL26331930M"
                numberOfPages:
                  type: integer
                physicalFormat:
                  type: string
                publishers:
                  type: array
                  items:
                    type: string
            authors:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  key:
                    type: string
                  birth_date:
                    type: string

    JobResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
          const: true
        data:
          type: object
          required:
            - jobId
          properties:
            jobId:
              type: string
              format: uuid
            authToken:
              type: string
              format: uuid
            sseUrl:
              type: string
              example: "/api/v2/imports/{jobId}/stream"
            statusUrl:
              type: string
              example: "/api/v2/imports/{jobId}"
            websocketUrl:
              type: string
              example: "/ws/progress?jobId={jobId}&token={authToken}"

    JobStatus:
      type: object
      properties:
        jobId:
          type: string
          format: uuid
        status:
          type: string
          enum: [initialized, processing, completed, failed, canceled]
        progress:
          type: number
          format: float
          minimum: 0
          maximum: 1
        processedCount:
          type: integer
        totalCount:
          type: integer
        pipeline:
          type: string
          enum: [csv_import, batch_enrichment, ai_scan]

    DetectedBook:
      type: object
      description: Book detected by AI bookshelf scan (v3.1)
      properties:
        title:
          type: string
        author:
          type: string
        isbn:
          type: string
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: AI confidence score
        boundingBox:
          type: object
          properties:
            x:
              type: number
            y:
              type: number
            width:
              type: number
            height:
              type: number
        enrichmentStatus:
          type: string
          enum: [pending, success, not_found, error, circuit_open]
          description: |
            Status of book enrichment:
            - pending: Not yet attempted
            - success: Enriched with metadata
            - not_found: No matching book in providers
            - error: Enrichment failed (transient)
            - circuit_open: Provider circuit breaker open (NEW in v3.1)
        enrichment:
          type: object
          properties:
            status:
              type: string
              enum: [success, not_found, error, circuit_open]
            work:
              type: object
            editions:
              type: array
              items:
                type: object
            authors:
              type: array
              items:
                type: object
            provider:
              type: string
            cachedResult:
              type: boolean
            error:
              type: string
            retryAfterMs:
              type: integer
              description: For circuit_open status, milliseconds until retry is allowed

    ScanJobSummary:
      type: object
      description: AI scan job completion summary (v3.1 semantics)
      properties:
        photosProcessed:
          type: integer
          description: Number of photos scanned
        booksDetected:
          type: integer
          description: Total books found across all photos (before dedup)
        booksUnique:
          type: integer
          description: Unique books after ISBN deduplication
        booksEnriched:
          type: integer
          description: Books with successful enrichment
        approved:
          type: integer
          description: Books with confidence >= threshold
        needsReview:
          type: integer
          description: Books with confidence < threshold
        duration:
          type: integer
          description: Processing time in milliseconds
        resourceId:
          type: string
          description: KV cache key for full results

paths:
  /health:
    get:
      tags: [Health]
      summary: Health check
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        const: ok
                      worker:
                        type: string
                      version:
                        type: string
                      router:
                        type: string

  /api/v2/capabilities:
    get:
      tags: [Health]
      summary: Feature discovery
      responses:
        '200':
          description: Available features
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /v1/search/isbn:
    get:
      tags: [Search]
      summary: Search book by ISBN
      parameters:
        - name: isbn
          in: query
          required: true
          schema:
            type: string
            pattern: '^(\d{10}|\d{13})$'
          example: "9780439708180"
      responses:
        '200':
          description: Book found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Book'
        '404':
          description: Book not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/search/title:
    get:
      tags: [Search]
      summary: Search books by title
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          example: "harry potter"
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          books:
                            type: array
                            items:
                              $ref: '#/components/schemas/Book'
                          totalResults:
                            type: integer
                          query:
                            type: string

  /v1/search/author:
    get:
      tags: [Search]
      summary: Search by author name
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
          example: "rowling"
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Author results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/v2/search:
    get:
      tags: [Search]
      summary: Semantic or text search
      parameters:
        - name: mode
          in: query
          schema:
            type: string
            enum: [semantic, text]
            default: text
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /v1/search/similar:
    get:
      tags: [Search]
      summary: Find similar books
      parameters:
        - name: isbn
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 5
      responses:
        '200':
          description: Similar books
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/v2/books/enrich:
    post:
      tags: [Enrichment]
      summary: Enrich single book with OpenLibrary metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - barcode
              properties:
                barcode:
                  type: string
                  example: "9780439708180"
                vectorize:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Book enriched
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EnrichedBook'
        '404':
          description: Book not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Circuit breaker open
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/batch-enrich:
    post:
      tags: [Enrichment]
      summary: Batch book enrichment (async)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - barcodes
              properties:
                barcodes:
                  type: array
                  items:
                    type: string
                  maxItems: 1000
                vectorize:
                  type: boolean
                  default: false
      responses:
        '202':
          description: Job initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'

  /api/v2/imports:
    post:
      tags: [Import]
      summary: CSV import (V2)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: CSV file (max 8MB)
      responses:
        '202':
          description: Import initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
        '413':
          description: File too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v2/imports/{jobId}:
    get:
      tags: [Import]
      summary: Get job status
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Job status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/JobStatus'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v2/imports/{jobId}/stream:
    get:
      tags: [Import]
      summary: SSE progress stream
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Last-Event-ID
          in: header
          required: false
          schema:
            type: string
          description: Resume from last received event
      responses:
        '200':
          description: SSE stream
          content:
            text/event-stream:
              schema:
                type: string
                description: |
                  Server-Sent Events stream with the following event types:
                  - initialized: Job created
                  - processing: Progress update
                  - completed: Job finished
                  - failed: Job failed
                  - error: Stream error
                  - timeout: No progress for 5 minutes

  /api/v2/imports/{jobId}/results:
    get:
      tags: [Import]
      summary: Get job results
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Job results
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          booksCreated:
                            type: integer
                          booksUpdated:
                            type: integer
                          duplicatesSkipped:
                            type: integer
                          enrichmentSucceeded:
                            type: integer
                          enrichmentFailed:
                            type: integer
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                row:
                                  type: integer
                                isbn:
                                  type: string
                                error:
                                  type: string
        '404':
          description: Results not found or expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/batch-scan:
    post:
      tags: [Scanning]
      summary: Batch bookshelf photo scan
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - photos
              properties:
                photos:
                  type: array
                  items:
                    type: string
                    format: binary
                  minItems: 1
                  maxItems: 5
                  description: JPEG or PNG images (max 10MB each)
      responses:
        '202':
          description: Scan initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'

  /v1/jobs/{jobId}:
    delete:
      tags: [Import]
      summary: Cancel job and cleanup resources
      description: |
        Cancels a running job and cleans up associated resources (R2 images, KV cache).
        This is an idempotent operation - calling DELETE on completed/canceled jobs returns success.

        **Requires Authentication:** Bearer token from job creation.

        **NEW in v3.1** - Added for shelf scan fixes.
        **UPDATED in v3.2** - Added Bearer token authentication (Issue #102).
      security:
        - bearerAuth: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Job canceled successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          jobId:
                            type: string
                            format: uuid
                          status:
                            type: string
                            const: canceled
                          message:
                            type: string
                          cleanup:
                            type: object
                            properties:
                              r2ObjectsDeleted:
                                type: integer
                              kvCacheCleared:
                                type: boolean
        '401':
          description: Unauthorized - missing or invalid Bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/jobs/{jobId}/status:
    get:
      tags: [Import]
      summary: Get job status
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Job status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/JobStatus'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/jobs/{jobId}/results:
    get:
      tags: [Import]
      summary: Get job results (unified endpoint)
      description: |
        Returns job results for any pipeline type (csv_import, batch_enrichment, ai_scan).
        Results are cached for 2 hours (matches token expiry).
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Job results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          description: Results not found or expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
