openapi: 3.0.3
info:
  title: BooksTrack API
  version: "2.7.0"
  description: |
    This OpenAPI specification defines the BooksTrack API, version 2.7.0.
    It is derived from and complements the human-readable [API_CONTRACT.md](API_CONTRACT.md) document.

    **Key Highlights (v2.7.0 - V2 API & Intelligence Layer):**
    - NEW: Semantic search using Cloudflare Vectorize (`GET /api/v2/search?mode=semantic`)
    - NEW: Similar books API (`GET /v1/search/similar?isbn=`)
    - NEW: Weekly AI recommendations (`GET /api/v2/recommendations/weekly`)
    - NEW: Feature discovery endpoint (`GET /api/v2/capabilities`)
    - NEW: V2 HTTP/SSE API namespace for modern frontend integration
    - Infrastructure: Vectorize (BGE-M3 1024-dim), Workers AI, Gemini API
    - Rate limits: Semantic search 5 req/min, text search 100 req/min

    **Previous Highlights (v2.6.1):**
    - WebSocket security hardening (10KB incoming message size limit, DoS protection)
    - Backpressure handling (1MB threshold, prevents memory bloat from slow clients)
    - Session metadata tracking (IP, country, user agent for diagnostics)
    - Atomic token operations (storage transactions prevent race conditions)

    **Previous Highlights (v2.6.0):**
    - Native RPC for Durable Objects (85% latency reduction: 10-15ms → <2ms for internal operations)
    - Hibernation DO storage fix (enables 70-80% cost savings, currently disabled pending gradual rollout)
    - Enhanced WebSocket error handling with categorization
    - Faster cache metrics operations using direct method calls
    - Zero user-facing API changes (transparent backend optimization)

    **Previous Highlights (v2.5.0):**
    - Author-driven harvest system (4.8x performance increase: 1,050 → 5,000 ISBNs/day)
    - Intelligent cache depth checking (prevents redundant harvesting)
    - Complete author bibliographies (instead of random scattered covers)
    - Daily harvest schedule restored (fixed cron bug that caused weekly-only runs)
    - Zero user-facing API changes (transparent backend optimization)

    **Previous Highlights (v2.4.1):**
    - WebSocket Hibernation API migration (70-80% cost reduction, zero user-facing changes)
    - Automatic memory management for WebSocket connections
    - Improved scalability and performance

    **Previous Highlights (v2.4):**
    - HATEOAS search links in WorkDTO/EditionDTO (`searchLinks` field) - fixes iOS "View on Google Books" crash
    - Provider-agnostic image quality detection (accurate `X-Image-Quality` header for all providers)
    - Web Crypto API migration (better Workers compatibility)
    - HTTP response validation for cover image HEAD requests

    **Previous Highlights (v2.2):**
    - Complete Hono router migration.
    - Hono router enabled by default.
    - New endpoints: `/v1/scan/results/{jobId}`, `/v1/csv/results/{jobId}`, `POST /api/batch-scan`.
    - Enhanced WebSocket API with reconnection support and batch scanning messages.
    - Input validation limits for DoS prevention.
    - Function-based CORS policy (see `API_CONTRACT.md` Section 3.2 for details on allowed origins).

    **Important Notes:**
    - All `/v1/*` HTTP endpoints use a consistent `ResponseEnvelope` format.
    - WebSocket connections are initiated via a conceptual HTTP GET to `/ws/progress` and then upgrade. The WebSocket message types are defined in `components/schemas`.
    - Rate limiting is enforced per IP address, with specific limits for certain endpoints.
    - Tokens for WebSocket connections are automatically refreshed for active connections within 30 minutes of expiration.
  contact:
    email: api-support@oooefam.net
  license:
    name: Proprietary

servers:
  - url: https://api.oooefam.net
    description: Production environment
  - url: https://staging-api.oooefam.net
    description: Staging environment
  - url: http://localhost:8787
    description: Local Development environment

tags:
  - name: Monitoring
    description: Health and metrics endpoints
  - name: Book Search
    description: Search for books by ISBN, title, or author
  - name: V2 API
    description: V2 API endpoints with semantic search, recommendations, and SSE streaming
  - name: Results Retrieval
    description: Retrieve job results after WebSocket completion
  - name: WebSocket
    description: Real-time progress updates for background jobs
  - name: Batch Jobs
    description: Initiate background processing jobs

paths:
  /health:
    get:
      summary: Check API Health
      operationId: getHealth
      tags:
        - Monitoring
      description: Returns a simple status indicating the API's operational health.
      responses:
        '200':
          description: API is healthy.
          headers:
            X-Router:
              description: Indicates which router handled the request.
              schema:
                type: string
                enum: [hono]
            X-Response-Time:
              description: Processing time in milliseconds (Hono router only).
              schema:
                type: string
            Access-Control-Allow-Origin:
              description: Dynamic CORS origin header based on request origin.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /metrics:
    get:
      summary: Retrieve API Metrics
      operationId: getMetrics
      tags:
        - Monitoring
      description: Returns raw metrics data, typically in a format like Prometheus exposition format.
      responses:
        '200':
          description: Metrics data.
          headers:
            X-Router:
              description: Indicates which router handled the request.
              schema:
                type: string
                enum: [hono]
            X-Response-Time:
              description: Processing time in milliseconds (Hono router only).
              schema:
                type: string
            Access-Control-Allow-Origin:
              description: Dynamic CORS origin header based on request origin.
              schema:
                type: string
          content:
            text/plain:
              schema:
                type: string
                example: |
                  # HELP http_requests_total Total number of HTTP requests.
                  # TYPE http_requests_total counter
                  http_requests_total{method="GET",path="/health"} 100
                  http_requests_total{method="GET",path="/v1/search/isbn"} 250
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/search/isbn:
    get:
      summary: Search Books by ISBN
      operationId: searchBooksByIsbn
      tags:
        - Book Search
      description: Search for books using a 10-digit or 13-digit ISBN. Hyphens are optional.
      parameters:
        - $ref: '#/components/parameters/isbnQueryParam'
      responses:
        '200':
          description: Book search results. Returns empty arrays if no book is found.
          headers:
            X-Router:
              description: Indicates which router handled the request.
              schema:
                type: string
                enum: [hono]
            X-Response-Time:
              description: Processing time in milliseconds (Hono router only).
              schema:
                type: string
            X-Image-Quality:
              description: Provider-agnostic image quality metric for cover images (v2.4 feature, Issue #195).
              schema:
                type: string
                enum: [high, medium, low, unknown]
            Access-Control-Allow-Origin:
              description: Dynamic CORS origin header based on request origin.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookSearchResponseEnvelope'
              examples:
                successExample:
                  value:
                    data:
                      works:
                        - title: Harry Potter and the Sorcerer's Stone
                          subjectTags: [fantasy, young-adult, magic]
                          firstPublicationYear: 1997
                          coverImageURL: https://covers.openlibrary.org/b/id/12345-L.jpg
                          synthetic: false
                          primaryProvider: google-books
                          goodreadsWorkIDs: [1234567]
                          amazonASINs: [B000ABC123]
                          isbndbQuality: 85
                          reviewStatus: verified
                      editions:
                        - isbn: '9780439708180'
                          isbns: ['9780439708180', '0439708184']
                          title: Harry Potter and the Sorcerer's Stone
                          publisher: Scholastic
                          publicationDate: '1998-09-01'
                          pageCount: 309
                          format: Paperback
                          coverImageURL: https://...
                          amazonASINs: [B000ABC123]
                          isbndbQuality: 85
                      authors:
                        - name: J.K. Rowling
                          gender: Female
                          culturalRegion: Europe
                          nationality: United Kingdom
                          birthYear: 1965
                    metadata:
                      timestamp: '2025-11-15T20:00:00.000Z'
                      processingTime: 145
                      provider: google-books
                      cached: false
                notFoundExample:
                  value:
                    data:
                      works: []
                      editions: []
                      authors: []
                    metadata:
                      timestamp: '2025-11-15T20:00:00.000Z'
                      processingTime: 89
                      provider: none
                      cached: false
        '400':
          description: Invalid ISBN format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
              examples:
                invalidIsbn:
                  value:
                    data: null
                    metadata:
                      timestamp: '2025-11-15T20:00:00.000Z'
                    error:
                      message: Invalid ISBN format. Must be valid ISBN-10 or ISBN-13
                      code: INVALID_ISBN
                      details:
                        isbn: '123'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        default:
          $ref: '#/components/responses/InternalServerError'

  /v1/search/title:
    get:
      summary: Search Books by Title
      operationId: searchBooksByTitle
      tags:
        - Book Search
      description: Search for books by title using fuzzy matching. Returns up to 20 results.
      parameters:
        - name: q
          in: query
          description: Search query for the book title. Minimum 2 characters.
          required: true
          schema:
            type: string
            minLength: 2
            maxLength: 200 # Input validation limit from API_CONTRACT.md
          example: great gatsby
      responses:
        '200':
          description: Book search results.
          headers:
            X-Router:
              description: Indicates which router handled the request.
              schema:
                type: string
                enum: [hono]
            X-Response-Time:
              description: Processing time in milliseconds (Hono router only).
              schema:
                type: string
            X-Image-Quality:
              description: Provider-agnostic image quality metric for cover images (v2.4 feature, Issue #195).
              schema:
                type: string
                enum: [high, medium, low, unknown]
            Access-Control-Allow-Origin:
              description: Dynamic CORS origin header based on request origin.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookSearchResponseEnvelope'
        '400':
          description: Invalid query parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
              examples:
                invalidQuery:
                  value:
                    data: null
                    metadata:
                      timestamp: '2025-11-15T20:00:00.000Z'
                    error:
                      message: Missing or invalid query parameter 'q'.
                      code: INVALID_QUERY
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        default:
          $ref: '#/components/responses/InternalServerError'

  /v1/search/advanced:
    get:
      summary: Advanced Book Search
      operationId: advancedBookSearch
      tags:
        - Book Search
      description: Perform an advanced search by title and/or author. At least one parameter is required. Returns up to 20 results.
      parameters:
        - name: title
          in: query
          description: Title search query.
          required: false
          schema:
            type: string
            maxLength: 200 # Input validation limit from API_CONTRACT.md
          example: gatsby
        - name: author
          in: query
          description: Author search query.
          required: false
          schema:
            type: string
            maxLength: 200 # Input validation limit from API_CONTRACT.md
          example: fitzgerald
      responses:
        '200':
          description: Advanced book search results.
          headers:
            X-Router:
              description: Indicates which router handled the request.
              schema:
                type: string
                enum: [hono]
            X-Response-Time:
              description: Processing time in milliseconds (Hono router only).
              schema:
                type: string
            X-Image-Quality:
              description: Provider-agnostic image quality metric for cover images (v2.4 feature, Issue #195).
              schema:
                type: string
                enum: [high, medium, low, unknown]
            Access-Control-Allow-Origin:
              description: Dynamic CORS origin header based on request origin.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookSearchResponseEnvelope'
        '400':
          description: Missing required query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
              examples:
                missingParams:
                  value:
                    data: null
                    metadata:
                      timestamp: '2025-11-15T20:00:00.000Z'
                    error:
                      message: At least one of 'title' or 'author' is required.
                      code: INVALID_QUERY
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        default:
          $ref: '#/components/responses/InternalServerError'

  /v1/scan/results/{jobId}:
    get:
      summary: Retrieve AI Scan Results
      operationId: getScanResults
      tags:
        - Results Retrieval
      description: Retrieve the full results of an AI book scan job after WebSocket completion. Results are stored for 24 hours.
      parameters:
        - $ref: '#/components/parameters/jobIdPathParam'
      responses:
        '200':
          description: AI scan results.
          headers:
            X-Router:
              description: Indicates which router handled the request.
              schema:
                type: string
                enum: [hono]
            X-Response-Time:
              description: Processing time in milliseconds (Hono router only).
              schema:
                type: string
            Access-Control-Allow-Origin:
              description: Dynamic CORS origin header based on request origin.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanResultsResponseEnvelope'
              examples:
                successExample:
                  value:
                    data:
                      totalDetected: 25
                      approved: 20
                      needsReview: 5
                      books:
                        - title: The Great Gatsby
                          author: F. Scott Fitzgerald
                          isbn: '9780743273565'
                          confidence: 0.95
                          boundingBox:
                            x: 0.12
                            y: 0.34
                            width: 0.08
                            height: 0.25
                          enrichmentStatus: success
                          enrichment:
                            status: success
                            work:
                              title: The Great Gatsby
                              subjectTags: [fiction, classics]
                              goodreadsWorkIDs: []
                              amazonASINs: []
                              librarythingIDs: []
                              googleBooksVolumeIDs: []
                              isbndbQuality: 90
                              reviewStatus: verified
                            editions:
                              - isbns: ['9780743273565']
                                format: Paperback
                                amazonASINs: []
                                googleBooksVolumeIDs: []
                                librarythingIDs: []
                                isbndbQuality: 90
                            authors:
                              - name: F. Scott Fitzgerald
                                gender: Male
                                culturalRegion: North America
                                nationality: United States
                                birthYear: 1896
                      metadata:
                        modelUsed: gemini-2.0-flash-exp
                        processingTime: 8500
                        timestamp: 1700000000000
                    metadata:
                      timestamp: '2025-11-15T20:00:00.000Z'
                      processingTime: 12
                      cached: true
                      provider: kv_cache
        '404':
          description: Scan results not found or expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
              examples:
                notFound:
                  value:
                    data: null
                    metadata:
                      timestamp: '2025-11-15T20:00:00.000Z'
                    error:
                      message: Scan results not found or expired. Results are stored for 24 hours after job completion.
                      code: NOT_FOUND
                      details:
                        jobId: uuid-12345
                        resultsKey: scan-results:uuid-12345
                        ttl: 24 hours
        default:
          $ref: '#/components/responses/InternalServerError'

  /v1/jobs/{jobId}/results:
    get:
      summary: Retrieve Job Results (Unified)
      operationId: getJobResults
      tags:
        - Results Retrieval
      description: |
        Unified endpoint to retrieve full results for any completed job (CSV import, batch enrichment, or AI scan).

        **Supported Pipelines:**
        - `csv_import` - CSV file import results
        - `batch_enrichment` - Batch enrichment job results
        - `ai_scan` - AI bookshelf scan results

        **Storage:**
        - Results stored for 1 hour after job completion
        - Automatically expires after TTL

        **API Contract:** This is the canonical results endpoint as of v2.0 (Nov 15, 2025).
        Legacy pipeline-specific endpoints (`/v1/csv/results`, `/v1/scan/results`) are deprecated.
      parameters:
        - $ref: '#/components/parameters/jobIdPathParam'
      responses:
        '200':
          description: Job results retrieved successfully.
          headers:
            X-Router:
              description: Indicates which router handled the request.
              schema:
                type: string
                enum: [hono]
            X-Response-Time:
              description: Processing time in milliseconds (Hono router only).
              schema:
                type: string
            Access-Control-Allow-Origin:
              description: Dynamic CORS origin header based on request origin.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResultsResponseEnvelope'
              examples:
                csvImportExample:
                  value:
                    data:
                      books:
                        - title: '1984'
                          author: George Orwell
                          isbn: '9780451524935'
                      errors: []
                      successRate: '48/48'
                    metadata:
                      timestamp: '2025-11-22T20:00:00.000Z'
                      cached: true
                      provider: kv_cache
                      resourceId: csv-results:uuid-12345
                aiScanExample:
                  value:
                    data:
                      books:
                        - title: The Great Gatsby
                          author: F. Scott Fitzgerald
                          isbn: '9780743273565'
                      confidence: 0.95
                    metadata:
                      timestamp: '2025-11-22T20:00:00.000Z'
                      cached: true
                      provider: kv_cache
                      resourceId: scan-results:uuid-67890
        '404':
          description: Job results not found or expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
              examples:
                notFound:
                  value:
                    data: null
                    metadata:
                      timestamp: '2025-11-22T20:00:00.000Z'
                    error:
                      message: Job results not found or expired. Results are stored for 1 hour after job completion.
                      code: NOT_FOUND
                      details:
                        jobId: uuid-12345
                        ttl: 1 hour
                        checkedKeys:
                          - csv-results:uuid-12345
                          - scan-results:uuid-12345
                          - job-results:uuid-12345
        default:
          $ref: '#/components/responses/InternalServerError'

  /v1/csv/results/{jobId}:
    get:
      summary: Retrieve CSV Import Results
      operationId: getCsvResults
      tags:
        - Results Retrieval
      description: Retrieve the full results of a CSV import job after WebSocket completion. Results are stored for 24 hours.
      parameters:
        - $ref: '#/components/parameters/jobIdPathParam'
      responses:
        '200':
          description: CSV import results.
          headers:
            X-Router:
              description: Indicates which router handled the request.
              schema:
                type: string
                enum: [hono]
            X-Response-Time:
              description: Processing time in milliseconds (Hono router only).
              schema:
                type: string
            Access-Control-Allow-Origin:
              description: Dynamic CORS origin header based on request origin.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CsvResultsResponseEnvelope'
              examples:
                successExample:
                  value:
                    data:
                      books:
                        - title: '1984'
                          author: George Orwell
                          isbn: '9780451524935'
                      errors: []
                      successRate: '98/100'
                      timestamp: 1700000000000
                    metadata:
                      timestamp: '2025-11-15T20:00:00.000Z'
                      processingTime: 8
                      cached: true
                      provider: kv_cache
        '404':
          description: CSV results not found or expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
              examples:
                notFound:
                  value:
                    data: null
                    metadata:
                      timestamp: '2025-11-15T20:00:00.000Z'
                    error:
                      message: Scan results not found or expired. Results are stored for 24 hours after job completion.
                      code: NOT_FOUND
                      details:
                        jobId: uuid-67890
                        resultsKey: csv-results:uuid-67890
                        ttl: 24 hours
        default:
          $ref: '#/components/responses/InternalServerError'

  /ws/progress:
    get:
      summary: Establish WebSocket Connection for Job Progress
      operationId: connectWebSocket
      tags:
        - WebSocket
      security:
        - WebSocketTokenAuth: []
      description: |
        Initiates a WebSocket connection for real-time progress updates for long-running jobs (AI scan, CSV import, batch enrichment).
        This endpoint conceptually represents the HTTP handshake that upgrades to a WebSocket.

        **WebSocket URL Pattern:**
        `wss://api.oooefam.net/ws/progress?jobId={jobId}&token={token}&reconnect={true/false}`

        **⚠️ CRITICAL: HTTP/1.1 Required (Issue #227)**
        WebSocket connections MUST use HTTP/1.1. HTTP/2 and HTTP/3 are not supported by the WebSocket protocol (RFC 6455).

        **iOS URLSession Configuration:**
        ```swift
        let configuration = URLSessionConfiguration.default
        configuration.httpProtocolOptions = [.http1_1Only: true]
        let session = URLSession(configuration: configuration)
        ```

        **Error if using HTTP/2:**
        ```
        HTTP/2 426 Upgrade Required
        Expected Upgrade: websocket
        ```

        **Authentication:**
        Requires `jobId` and `token` obtained from the initial `POST` request (e.g., `/api/batch-scan`).

        **Reconnection:**
        Clients should add `reconnect=true` query parameter when attempting to re-establish a connection after a disconnect to sync job state.

        **Message Format (Universal Envelope):**
        All WebSocket messages adhere to the `WebSocketMessageEnvelope` schema defined in `components/schemas`.

        **Key Message Types (Server to Client):**
        - `ready_ack`: Acknowledges client's `ready` signal.
        - `job_started`: Job has begun processing.
        - `job_progress`: Periodic updates on job progress.
        - `job_complete`: Job finished (summary only, fetch full results via HTTP GET).
        - `error`: Job failed.
        - `reconnected`: Sent upon successful reconnection with current job state.
        - `batch-init`: Batch photo scan initialized.
        - `batch-progress`: Progress for individual photos in a batch.
        - `batch-complete`: All photos in batch processed (includes full results).
        - `batch-canceling`: Batch cancellation in progress.

        **Client Actions:**
        1.  After connecting, client **MUST** send a `ReadyMessage` (`{"type": "ready"}`) to acknowledge readiness.
        2.  Server responds with `ready_ack` to confirm the client is registered.
        3.  After receiving `job_complete`, client **MUST** fetch full results via the provided `resultsUrl` (e.g., `GET /v1/scan/results/{jobId}`).
        4.  Implement reconnection logic with exponential backoff and `reconnect=true` query parameter.

        **Close Codes:**
        - `1000 NORMAL_CLOSURE`: Job completed successfully.
        - `1001 GOING_AWAY`: Server shutting down (retry after 5s).
        - `1008 POLICY_VIOLATION`: Invalid token/auth failure (re-authenticate).
        - `1011 INTERNAL_ERROR`: Server error (retry with exponential backoff).
      parameters:
        - $ref: '#/components/parameters/jobIdQueryParam'
        - $ref: '#/components/parameters/tokenQueryParam'
        - name: reconnect
          in: query
          description: Set to `true` when reconnecting to sync job state.
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '101':
          description: Switching Protocols (WebSocket upgrade successful).
        '400':
          description: Invalid `jobId` or `token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Unauthorized - invalid or expired token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
              examples:
                policyViolation:
                  value:
                    data: null
                    metadata:
                      timestamp: '2025-11-15T20:00:00.000Z'
                    error:
                      message: Invalid or expired WebSocket token.
                      code: POLICY_VIOLATION
        default:
          $ref: '#/components/responses/InternalServerError'

  /v1/enrichment/batch:
    post:
      summary: Start Batch Enrichment Job
      operationId: startBatchEnrichment
      tags:
        - Batch Jobs
      description: Initiates a background job to enrich a batch of books based on provided identifiers (e.g., ISBNs). Progress is communicated via WebSocket.
      requestBody:
        description: List of book identifiers to enrich.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  description: An array of book identifiers (e.g., ISBNs or titles).
                  items:
                    type: string # Assuming simple string identifiers for now.
                  minItems: 1
                  maxItems: 100 # Arbitrary limit, adjust based on backend capabilities
              example:
                items:
                  - '9780439708180'
                  - 'The Great Gatsby'
      responses:
        '202':
          description: Batch enrichment job accepted. Returns a `jobId` and `token` for WebSocket connection.
          headers:
            X-Router:
              description: Indicates which router handled the request.
              schema:
                type: string
                enum: [hono]
            X-Response-Time:
              description: Processing time in milliseconds (Hono router only).
              schema:
                type: string
            Access-Control-Allow-Origin:
              description: Dynamic CORS origin header based on request origin.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobInitResponseEnvelope'
              examples:
                accepted:
                  value:
                    data:
                      jobId: uuid-12345
                      token: auth-token-67890
                    metadata:
                      timestamp: '2025-11-16T12:00:00.000Z'
        '400':
          description: Invalid request body or parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        default:
          $ref: '#/components/responses/InternalServerError'


  /api/import/csv-gemini:
    post:
      summary: Start CSV Import Job
      operationId: startCsvImport
      tags:
        - Batch Jobs
      description: Initiates a background job to import books from a CSV file. Progress is communicated via WebSocket.
      requestBody:
        description: A CSV file containing book data.
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The CSV file to import (field name must be "file").
      responses:
        '202':
          description: CSV import job accepted. Returns a `jobId` and `token` for WebSocket connection.
          headers:
            X-Router:
              description: Indicates which router handled the request.
              schema:
                type: string
                enum: [hono]
            X-Response-Time:
              description: Processing time in milliseconds (Hono router only).
              schema:
                type: string
            Access-Control-Allow-Origin:
              description: Dynamic CORS origin header based on request origin.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobInitResponseEnvelope'
              examples:
                accepted:
                  value:
                    data:
                      jobId: csv-import-uuid-123
                      token: csv-import-token-456
                    metadata:
                      timestamp: '2025-11-16T12:00:00.000Z'
        '400':
          description: Invalid CSV format or file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        default:
          $ref: '#/components/responses/InternalServerError'

  /api/batch-scan:
    post:
      summary: Start Photo AI Scan Job (Single or Batch)
      operationId: startPhotoScan
      tags:
        - Batch Jobs
      description: |
        Initiates a background job to scan one or more photos (1-5) for books using AI.
        This is the canonical endpoint for all photo scanning operations.
        Progress for each photo and the overall job is communicated via WebSocket.

        **Single Photo**: Send 1 photo to scan a single bookshelf.
        **Batch Photos**: Send 2-5 photos to scan multiple bookshelves in one job.
      requestBody:
        description: An array of image files to be scanned for books.
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                'photos[]':
                  type: array
                  description: An array of image files (JPEG, PNG, HEIC) to scan. Min 1, Max 5 photos. Each photo max 10 MB.
                  items:
                    type: string
                    format: binary
                  minItems: 1
                  maxItems: 5
      responses:
        '202':
          description: Batch photo scan job accepted. Returns a `jobId`, `token`, and `totalPhotos` for WebSocket connection.
          headers:
            X-Router:
              description: Indicates which router handled the request.
              schema:
                type: string
                enum: [hono]
            X-Response-Time:
              description: Processing time in milliseconds (Hono router only).
              schema:
                type: string
            Access-Control-Allow-Origin:
              description: Dynamic CORS origin header based on request origin.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchScanJobInitResponseEnvelope'
              examples:
                accepted:
                  value:
                    data:
                      jobId: batch-uuid-12345
                      token: auth-token-67890
                      totalPhotos: 2
                    metadata:
                      timestamp: '2025-11-16T12:00:00.000Z'
        '400':
          description: Invalid number of photos, image format, or size.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        default:
          $ref: '#/components/responses/InternalServerError'

  # V2 API Endpoints (Sprint 3 - Intelligence Layer)

  /v1/search/similar:
    get:
      summary: Find Similar Books
      operationId: findSimilarBooks
      tags:
        - V2 API
        - Book Search
      description: |
        Find books similar to a given book using vector embeddings (Cloudflare Vectorize).
        Uses BGE-M3 model for 1024-dimensional embeddings with cosine similarity.
      parameters:
        - name: isbn
          in: query
          description: ISBN of the source book to find similar books for.
          required: true
          schema:
            type: string
            pattern: '^\d{10}|\d{13}$'
          example: '9780747532743'
        - name: limit
          in: query
          description: Maximum number of similar books to return.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
          example: 5
      responses:
        '200':
          description: Similar books found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        isbn:
                          type: string
                        title:
                          type: string
                        authors:
                          type: array
                          items:
                            type: string
                        similarity_score:
                          type: number
                          format: float
                        cover_url:
                          type: string
                  source_isbn:
                    type: string
                  total:
                    type: integer
                  latency_ms:
                    type: integer
              example:
                results:
                  - isbn: '9780439064866'
                    title: Harry Potter and the Chamber of Secrets
                    authors: ['J.K. Rowling']
                    similarity_score: 0.94
                    cover_url: 'https://...'
                source_isbn: '9780747532743'
                total: 5
                latency_ms: 85
        '404':
          description: Source book not found in vector index.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Vectorize service unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /api/v2/search:
    get:
      summary: Unified Search (Text + Semantic)
      operationId: unifiedSearch
      tags:
        - V2 API
      description: |
        Unified search supporting both text-based and semantic (AI-powered) search modes.

        **Text mode:** Traditional SQL LIKE query (fast, 100 req/min).
        **Semantic mode:** Natural language search using Vectorize embeddings (slower, 5 req/min).
      parameters:
        - name: q
          in: query
          description: Search query (min 2 characters).
          required: true
          schema:
            type: string
            minLength: 2
            maxLength: 200
          example: 'books about wizards and magic schools'
        - name: mode
          in: query
          description: Search mode.
          required: false
          schema:
            type: string
            enum: [text, semantic]
            default: text
          example: semantic
        - name: limit
          in: query
          description: Maximum results to return.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Pagination offset.
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Search results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        isbn:
                          type: string
                        title:
                          type: string
                        authors:
                          type: array
                          items:
                            type: string
                        cover_url:
                          type: string
                        relevance_score:
                          type: number
                          format: float
                        match_type:
                          type: string
                          enum: [text, semantic]
                  total:
                    type: integer
                  mode:
                    type: string
                  query:
                    type: string
                  latency_ms:
                    type: integer
              example:
                results:
                  - id: 'book_abc123'
                    isbn: '9780747532743'
                    title: Harry Potter and the Philosopher's Stone
                    authors: ['J.K. Rowling']
                    cover_url: 'https://...'
                    relevance_score: 0.95
                    match_type: semantic
                total: 42
                mode: semantic
                query: 'books about wizards and magic schools'
                latency_ms: 120
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '503':
          description: Vectorize service unavailable (semantic mode only).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /api/v2/recommendations/weekly:
    get:
      summary: Get Weekly Recommendations
      operationId: getWeeklyRecommendations
      tags:
        - V2 API
      description: |
        Returns pre-generated weekly book recommendations (global, non-personalized).
        Generated every Sunday at midnight UTC via cron job using Gemini API.
        Cached in KV with 1-week TTL.
      responses:
        '200':
          description: Weekly recommendations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  week_of:
                    type: string
                    format: date
                    description: Monday of the recommendation week.
                  books:
                    type: array
                    items:
                      type: object
                      properties:
                        isbn:
                          type: string
                        title:
                          type: string
                        authors:
                          type: array
                          items:
                            type: string
                        cover_url:
                          type: string
                        reason:
                          type: string
                          description: AI-generated reason for recommendation.
                  generated_at:
                    type: string
                    format: date-time
                  next_refresh:
                    type: string
                    format: date-time
              example:
                week_of: '2025-11-25'
                books:
                  - isbn: '9780747532743'
                    title: Harry Potter and the Philosopher's Stone
                    authors: ['J.K. Rowling']
                    cover_url: 'https://...'
                    reason: A beloved fantasy classic perfect for readers seeking magical escapism
                generated_at: '2025-11-24T00:00:00Z'
                next_refresh: '2025-12-01T00:00:00Z'
        '404':
          description: Weekly recommendations not yet generated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /api/v2/capabilities:
    get:
      summary: Get API Capabilities
      operationId: getCapabilities
      tags:
        - V2 API
      description: Feature discovery endpoint for client capability detection.
      responses:
        '200':
          description: API capabilities.
          content:
            application/json:
              schema:
                type: object
                properties:
                  features:
                    type: object
                    properties:
                      semantic_search:
                        type: boolean
                      similar_books:
                        type: boolean
                      weekly_recommendations:
                        type: boolean
                      sse_streaming:
                        type: boolean
                      batch_enrichment:
                        type: boolean
                      csv_import:
                        type: boolean
                  limits:
                    type: object
                    properties:
                      semantic_search_rpm:
                        type: integer
                      text_search_rpm:
                        type: integer
                      csv_max_rows:
                        type: integer
                      batch_max_photos:
                        type: integer
                  infrastructure:
                    type: object
                    properties:
                      vectorize_available:
                        type: boolean
                      workers_ai_available:
                        type: boolean
                      d1_available:
                        type: boolean
                  version:
                    type: string
              example:
                features:
                  semantic_search: true
                  similar_books: true
                  weekly_recommendations: true
                  sse_streaming: true
                  batch_enrichment: true
                  csv_import: true
                limits:
                  semantic_search_rpm: 5
                  text_search_rpm: 100
                  csv_max_rows: 500
                  batch_max_photos: 5
                infrastructure:
                  vectorize_available: true
                  workers_ai_available: true
                  d1_available: true
                version: '2.7.0'

  /api/v2/books/enrich:
    post:
      summary: Enrich Book by Barcode
      operationId: enrichBook
      tags:
        - V2 API
      description: |
        Synchronous HTTP book enrichment (alternative to WebSocket-based enrichment).
        Orchestrates multiple providers (Google Books, OpenLibrary) and optionally
        generates vector embeddings for the book.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - barcode
              properties:
                barcode:
                  type: string
                  description: ISBN-10 or ISBN-13 barcode.
                prefer_provider:
                  type: string
                  enum: [auto, google, openlibrary]
                  default: auto
                idempotency_key:
                  type: string
                  description: Optional key for retry safety.
            example:
              barcode: '9780747532743'
              prefer_provider: auto
              idempotency_key: 'scan_20251125_abc123'
      responses:
        '200':
          description: Book enriched successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  isbn:
                    type: string
                  title:
                    type: string
                  authors:
                    type: array
                    items:
                      type: string
                  publisher:
                    type: string
                  published_date:
                    type: string
                  page_count:
                    type: integer
                  cover_url:
                    type: string
                  description:
                    type: string
                  categories:
                    type: array
                    items:
                      type: string
                  language:
                    type: string
                  provider:
                    type: string
                  enriched_at:
                    type: string
                    format: date-time
                  vectorized:
                    type: boolean
              example:
                isbn: '9780747532743'
                title: Harry Potter and the Philosopher's Stone
                authors: ['J.K. Rowling']
                publisher: Bloomsbury
                published_date: '1997-06-26'
                page_count: 223
                cover_url: 'https://...'
                description: Harry Potter has never been...
                categories: ['Fiction', 'Fantasy']
                language: en
                provider: 'orchestrated:google+openlibrary'
                enriched_at: '2025-11-25T10:30:00Z'
                vectorized: true
        '404':
          description: Book not found in any provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'

  /api/v2/imports:
    post:
      summary: Initiate CSV Import
      operationId: initiateImport
      tags:
        - V2 API
      description: |
        Initiate CSV import job. Returns job ID for status polling or SSE streaming.
        Delegates to existing import infrastructure.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: CSV file to import.
                options:
                  type: string
                  description: JSON-encoded import options.
      responses:
        '202':
          description: Import job accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                  status:
                    type: string
                    enum: [queued]
                  created_at:
                    type: string
                    format: date-time
                  sse_url:
                    type: string
                  status_url:
                    type: string
                  estimated_rows:
                    type: integer
              example:
                job_id: 'import_abc123def456'
                status: queued
                created_at: '2025-11-25T10:30:00Z'
                sse_url: '/api/v2/imports/import_abc123def456/stream'
                status_url: '/api/v2/imports/import_abc123def456'
                estimated_rows: 150
        '400':
          description: Invalid CSV format or options.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '413':
          description: File too large.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /api/v2/imports/{jobId}:
    get:
      summary: Get Import Status
      operationId: getImportStatus
      tags:
        - V2 API
      description: Get import job status (polling fallback for SSE).
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
          example: 'import_abc123def456'
      responses:
        '200':
          description: Import job status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                  status:
                    type: string
                    enum: [queued, processing, complete, failed]
                  progress:
                    type: number
                    format: float
                  total_rows:
                    type: integer
                  processed_rows:
                    type: integer
                  successful_rows:
                    type: integer
                  failed_rows:
                    type: integer
              example:
                job_id: 'import_abc123def456'
                status: processing
                progress: 0.67
                total_rows: 150
                processed_rows: 100
                successful_rows: 95
                failed_rows: 5
        '404':
          description: Import job not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /api/v2/imports/{jobId}/stream:
    get:
      summary: Stream Import Progress (SSE)
      operationId: streamImportProgress
      tags:
        - V2 API
      description: |
        Server-Sent Events stream for real-time import progress.
        Events: started, progress, complete, error.
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
          example: 'import_abc123def456'
      responses:
        '200':
          description: SSE event stream.
          content:
            text/event-stream:
              schema:
                type: string
              example: |
                event: started
                data: {"status": "processing", "total_rows": 150}

                event: progress
                data: {"progress": 0.5, "processed_rows": 75}

                event: complete
                data: {"status": "complete", "result_summary": {...}}
        '404':
          description: Import job not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

components:
  parameters:
    jobIdPathParam:
      name: jobId
      in: path
      description: Job identifier from WebSocket completion message. Max 100 characters.
      required: true
      schema:
        type: string
        pattern: '^[a-zA-Z0-9_-]+$' # Example pattern for UUID-like job IDs
        maxLength: 100 # Input validation limit from API_CONTRACT.md
      example: uuid-12345
    jobIdQueryParam:
      name: jobId
      in: query
      description: Job identifier for WebSocket connection. Max 100 characters.
      required: true
      schema:
        type: string
        pattern: '^[a-zA-Z0-9_-]+$'
        maxLength: 100
      example: uuid-12345
    tokenQueryParam:
      name: token
      in: query
      description: Authentication token for WebSocket connection.
      required: true
      schema:
        type: string
        pattern: '^[a-zA-Z0-9._-]+$' # Example pattern for JWT-like tokens
      example: auth-token-67890
    isbnQueryParam:
      name: isbn
      in: query
      description: ISBN-10 or ISBN-13 (hyphens optional).
      required: true
      schema:
        type: string
        pattern: '^[0-9]{10}([0-9]{3})?$'
        description: ISBN-10 (10 digits) or ISBN-13 (13 digits), hyphens optional.
      example: '9780439708180'

  responses:
    RateLimitExceeded:
      description: Too many requests.
      headers:
        X-RateLimit-Limit:
          description: The maximum number of requests allowed in the current rate limit window.
          schema:
            type: integer
        X-RateLimit-Remaining:
          description: The number of requests remaining in the current rate limit window.
          schema:
            type: integer
        X-RateLimit-Reset:
          description: The time at which the current rate limit window resets in Unix epoch seconds.
          schema:
            type: integer
        Retry-After:
          description: The number of seconds to wait before making another request.
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
          examples:
            rateLimit:
              value:
                data: null
                metadata:
                  timestamp: '2025-11-15T20:00:00Z'
                error:
                  message: 'Rate limit exceeded. Try again in 45 seconds.'
                  code: RATE_LIMIT_EXCEEDED
                  details:
                    retryAfter: 45
                    limit: 100
                    window: 1 minute
    InternalServerError:
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
          examples:
            internalError:
              value:
                data: null
                metadata:
                  timestamp: '2025-11-15T20:00:00.000Z'
                error:
                  message: An unexpected server error occurred.
                  code: INTERNAL_ERROR

  schemas:
    # --- Universal Response Envelopes ---
    SuccessEnvelope:
      type: object
      properties:
        data:
          description: The payload of the response. Can be null.
          nullable: true
        metadata:
          $ref: '#/components/schemas/Metadata'
      required:
        - data
        - metadata
    ErrorEnvelope:
      type: object
      properties:
        data:
          type: "null"
          description: Always null for error responses.
        metadata:
          $ref: '#/components/schemas/Metadata'
        error:
          $ref: '#/components/schemas/Error'
      required:
        - data
        - metadata
        - error
    Metadata:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 UTC timestamp.
          example: '2025-11-15T20:00:00.000Z'
        processingTime:
          type: number
          format: int32
          description: Processing time in milliseconds.
          nullable: true
          example: 145
        provider:
          nullable: true
          description: The primary data provider for the response.
          allOf:
            - $ref: '#/components/schemas/DataProvider'
        cached:
          type: boolean
          description: True if the response was served from cache.
          nullable: true
          example: false
      required:
        - timestamp
    Error:
      type: object
      properties:
        message:
          type: string
          description: Human-readable error message.
          example: Book not found for ISBN 9780000000000
        code:
          type: string
          description: Machine-readable error code.
          enum:
            - INVALID_ISBN
            - INVALID_QUERY
            - INVALID_REQUEST
            - NOT_FOUND
            - RATE_LIMIT_EXCEEDED
            - PROVIDER_TIMEOUT
            - PROVIDER_ERROR
            - INTERNAL_ERROR
            - POLICY_VIOLATION # Added for WebSocket auth errors
            - BATCH_SCAN_ERROR # Added for batch scan specific errors
          nullable: true
          example: NOT_FOUND
        details:
          type: object
          description: Optional context or specific details about the error.
          nullable: true
          example:
            isbn: '9780000000000'
            providersSearched: ['google-books', 'openlibrary', 'isbndb']
      required:
        - message

    # --- Specific Error Details Schemas (used in Error.details) ---
    ErrorDetailsRateLimit:
      type: object
      properties:
        retryAfter:
          type: integer
          description: Seconds to wait before retrying.
        limit:
          type: integer
          description: The rate limit that was exceeded.
        window:
          type: string
          description: The time window for the rate limit (e.g., "1 minute").
      required:
        - retryAfter
        - limit
        - window
    ErrorDetailsNotFound:
      type: object
      properties:
        jobId:
          type: string
          description: The job ID that was not found.
        resultsKey:
          type: string
          description: The KV key used to store results.
        ttl:
          type: string
          description: Time-to-live for the results.
      required:
        - jobId
        - resultsKey
        - ttl
    ErrorDetailsISBN:
      type: object
      properties:
        isbn:
          type: string
          description: The invalid ISBN provided.
      required:
        - isbn

    # --- DTOs ---
    BoundingBox:
      type: object
      description: Normalized coordinates of a bounding box (0.0-1.0).
      properties:
        x:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          example: 0.12
        y:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          example: 0.34
        width:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          example: 0.08
        height:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          example: 0.25
      required:
        - x
        - y
        - width
        - height
    WorkDTO:
      type: object
      description: Represents the abstract concept of a book (e.g., "The Great Gatsby" as a work).
      properties:
        title:
          type: string
          example: The Great Gatsby
        subjectTags:
          type: array
          items:
            type: string
          example: [fantasy, young-adult, magic]
        goodreadsWorkIDs:
          type: array
          items:
            type: string
          example: ["1234567"]
        amazonASINs:
          type: array
          items:
            type: string
          example: [B000ABC123]
        librarythingIDs:
          type: array
          items:
            type: string
          example: []
        googleBooksVolumeIDs:
          type: array
          items:
            type: string
          example: []
        isbndbQuality:
          type: number
          format: int32
          minimum: 0
          maximum: 100
          example: 85
        reviewStatus:
          $ref: '#/components/schemas/ReviewStatus'
        originalLanguage:
          type: string
          description: ISO 639-1 code (e.g., "en", "fr").
          nullable: true
          example: en
        firstPublicationYear:
          type: number
          format: int32
          description: Year only (e.g., 1925).
          nullable: true
          example: 1925
        description:
          type: string
          description: Synopsis of the work.
          nullable: true
          example: A classic novel about the American Dream.
        coverImageURL:
          type: string
          format: uri
          description: High-res cover image URL (1200px width recommended).
          nullable: true
          example: https://covers.openlibrary.org/b/id/12345-L.jpg
        searchLinks:
          nullable: true
          description: HATEOAS links for external providers (Issue #196).
          allOf:
            - $ref: '#/components/schemas/SearchLinksDTO'
        synthetic:
          type: boolean
          description: True if Work was inferred from an Edition.
          nullable: true
          example: false
        primaryProvider:
          nullable: true
          description: The primary data provider for this work.
          allOf:
            - $ref: '#/components/schemas/DataProvider'
        contributors:
          type: array
          items:
            $ref: '#/components/schemas/DataProvider'
          description: All providers that contributed data.
          nullable: true
        openLibraryID:
          type: string
          description: Legacy OpenLibrary Work ID (e.g., "OL12345W").
          nullable: true
        openLibraryWorkID:
          type: string
          description: Alias for openLibraryID.
          nullable: true
        isbndbID:
          type: string
          nullable: true
        googleBooksVolumeID:
          type: string
          description: Legacy Google Books Volume ID (e.g., "abc123XYZ").
          nullable: true
        goodreadsID:
          type: string
          description: Deprecated. Use `goodreadsWorkIDs[]` instead.
          nullable: true
        lastISBNDBSync:
          type: string
          format: date-time
          description: ISO 8601 timestamp of last ISBNdb sync.
          nullable: true
        originalImagePath:
          type: string
          description: Source image path for AI-detected books.
          nullable: true
        boundingBox:
          nullable: true
          description: Book location in image (for AI-detected books).
          allOf:
            - $ref: '#/components/schemas/BoundingBox'
      required:
        - title
        - subjectTags
        - goodreadsWorkIDs
        - amazonASINs
        - librarythingIDs
        - googleBooksVolumeIDs
        - isbndbQuality
        - reviewStatus
    EditionDTO:
      type: object
      description: Represents a specific publication of a work (e.g., "The Great Gatsby" 1925 Scribner hardcover edition).
      properties:
        isbns:
          type: array
          items:
            type: string
          description: All ISBNs associated with this edition.
          example: ['9780439708180', '0439708184']
        format:
          $ref: '#/components/schemas/EditionFormat'
        amazonASINs:
          type: array
          items:
            type: string
          example: [B000ABC123]
        googleBooksVolumeIDs:
          type: array
          items:
            type: string
          example: []
        librarythingIDs:
          type: array
          items:
            type: string
          example: []
        isbndbQuality:
          type: number
          format: int32
          minimum: 0
          maximum: 100
          example: 85
        isbn:
          type: string
          description: Primary ISBN (first from `isbns` array).
          nullable: true
          example: '9780439708180'
        title:
          type: string
          nullable: true
          example: Harry Potter and the Sorcerer's Stone
        publisher:
          type: string
          nullable: true
          example: Scholastic
        publicationDate:
          type: string
          description: YYYY-MM-DD or YYYY.
          nullable: true
          example: '1998-09-01'
        pageCount:
          type: number
          format: int32
          nullable: true
          example: 309
        coverImageURL:
          type: string
          format: uri
          nullable: true
          example: https://covers.openlibrary.org/b/id/12345-M.jpg
        editionTitle:
          type: string
          description: e.g., "Deluxe Illustrated Edition".
          nullable: true
        editionDescription:
          type: string
          description: Note: NOT 'description' (Swift reserved). Synopsis of the edition.
          nullable: true
        language:
          type: string
          description: ISO 639-1 code.
          nullable: true
          example: en
        searchLinks:
          nullable: true
          description: HATEOAS links for external providers (Issue #196).
          allOf:
            - $ref: '#/components/schemas/SearchLinksDTO'
        primaryProvider:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/DataProvider'
        contributors:
          type: array
          items:
            $ref: '#/components/schemas/DataProvider'
          nullable: true
        openLibraryID:
          type: string
          nullable: true
        openLibraryEditionID:
          type: string
          nullable: true
        isbndbID:
          type: string
          nullable: true
        googleBooksVolumeID:
          type: string
          description: Deprecated. Use `googleBooksVolumeIDs[]`.
          nullable: true
        goodreadsID:
          type: string
          nullable: true
        lastISBNDBSync:
          type: string
          format: date-time
          description: ISO 8601 timestamp of last ISBNdb sync.
          nullable: true
      required:
        - isbns
        - format
        - amazonASINs
        - googleBooksVolumeIDs
        - librarythingIDs
        - isbndbQuality
    AuthorDTO:
      type: object
      description: Represents a creator of works.
      properties:
        name:
          type: string
          example: J.K. Rowling
        gender:
          $ref: '#/components/schemas/AuthorGender'
        culturalRegion:
          nullable: true
          description: Enriched via Wikidata.
          allOf:
            - $ref: '#/components/schemas/CulturalRegion'
        nationality:
          type: string
          description: e.g., "Nigeria", "United States".
          nullable: true
          example: United Kingdom
        birthYear:
          type: number
          format: int32
          nullable: true
          example: 1965
        deathYear:
          type: number
          format: int32
          nullable: true
        openLibraryID:
          type: string
          nullable: true
        isbndbID:
          type: string
          nullable: true
        googleBooksID:
          type: string
          nullable: true
        goodreadsID:
          type: string
          nullable: true
        bookCount:
          type: number
          format: int32
          description: Total books by this author.
          nullable: true
      required:
        - name
        - gender

    # --- Enums ---
    ReviewStatus:
      type: string
      enum:
        - verified
        - needsReview
        - userEdited
    DataProvider:
      type: string
      enum:
        - google-books
        - openlibrary
        - isbndb
        - gemini
    SearchLinksDTO:
      type: object
      description: HATEOAS links for external book search providers (Issue #196). All fields are optional - backend generates links when sufficient metadata is available (ISBN, title, author).
      properties:
        googleBooks:
          type: string
          format: uri
          description: Direct link to Google Books search or volume page
          example: https://www.googleapis.com/books/v1/volumes?q=isbn:9780743273565
          nullable: true
        openLibrary:
          type: string
          format: uri
          description: Direct link to OpenLibrary ISBN page or search
          example: https://openlibrary.org/isbn/9780743273565
          nullable: true
        amazon:
          type: string
          format: uri
          description: Direct link to Amazon search results
          example: https://www.amazon.com/s?k=9780743273565
          nullable: true
    EditionFormat:
      type: string
      enum:
        - Hardcover
        - Paperback
        - E-book
        - Audiobook
        - Mass Market
    AuthorGender:
      type: string
      enum:
        - Female
        - Male
        - Non-binary
        - Other
        - Unknown
    CulturalRegion:
      type: string
      enum:
        - Africa
        - Asia
        - Europe
        - North America
        - South America
        - Oceania
        - Middle East
        - Caribbean
        - Central Asia
        - Indigenous
        - International
    Pipeline:
      type: string
      enum:
        - batch_enrichment
        - csv_import
        - ai_scan
    MessageType:
      type: string
      description: |
        All WebSocket message types (11 total).

        **Active message types**:
        - job_started, job_progress, job_complete, error
        - ready, ready_ack, reconnected
        - batch-init, batch-progress, batch-complete, batch-canceling

        **Note**: ping/pong removed in v2.4 (never implemented)
      enum:
        - job_started
        - job_progress
        - job_complete
        - error
        - ready
        - ready_ack
        - reconnected
        - batch-init
        - batch-progress
        - batch-complete
        - batch-canceling

    # --- Endpoint Specific Payloads ---
    BookSearchResponse:
      type: object
      description: Response structure for book search endpoints.
      properties:
        works:
          type: array
          items:
            $ref: '#/components/schemas/WorkDTO'
        editions:
          type: array
          items:
            $ref: '#/components/schemas/EditionDTO'
        authors:
          type: array
          items:
            $ref: '#/components/schemas/AuthorDTO'
        resultCount:
          type: number
          format: int32
          description: Number of books found (0 for no results, N for N books). Disambiguates empty results from errors.
          example: 1
        totalResults:
          type: number
          format: int32
          description: Reserved for future pagination.
          nullable: true
      required:
        - works
        - editions
        - authors
        - resultCount
    BookSearchResponseEnvelope:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/BookSearchResponse'

    ScanResultBookEnrichment:
      type: object
      properties:
        status:
          type: string
          enum: [success, failed, pending]
        work:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/WorkDTO'
        editions:
          type: array
          items:
            $ref: '#/components/schemas/EditionDTO'
        authors:
          type: array
          items:
            $ref: '#/components/schemas/AuthorDTO'
      required:
        - status
        - editions
        - authors
    ScanResultBook:
      type: object
      properties:
        title:
          type: string
          example: The Great Gatsby
        author:
          type: string
          example: F. Scott Fitzgerald
        isbn:
          type: string
          nullable: true
          example: '9780743273565'
        confidence:
          type: number
          format: float
          example: 0.95
        boundingBox:
          $ref: '#/components/schemas/BoundingBox'
        enrichmentStatus:
          type: string
          enum: [success, failed, pending]
          example: success
        enrichment:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/ScanResultBookEnrichment'
      required:
        - title
        - author
        - confidence
        - boundingBox
        - enrichmentStatus
    ScanResultsData:
      type: object
      description: Data payload for AI scan results.
      properties:
        totalDetected:
          type: number
          format: int32
          example: 25
        approved:
          type: number
          format: int32
          example: 20
        needsReview:
          type: number
          format: int32
          example: 5
        expiresAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp when results expire from KV cache (24 hours after job completion).
          example: '2025-01-16T10:00:00.000Z'
        books:
          type: array
          items:
            $ref: '#/components/schemas/ScanResultBook'
        metadata: # Inner metadata for scan job, distinct from HTTP response metadata
          type: object
          properties:
            modelUsed:
              type: string
              example: gemini-2.0-flash-exp
            processingTime:
              type: number
              format: int32
              example: 8500
            timestamp:
              type: number
              description: Unix timestamp (milliseconds).
              example: 1700000000000
          required:
            - modelUsed
            - processingTime
            - timestamp
      required:
        - totalDetected
        - approved
        - needsReview
        - expiresAt
        - books
        - metadata
    ScanResultsResponseEnvelope:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/ScanResultsData'

    CsvResultBook:
      type: object
      properties:
        title:
          type: string
          example: '1984'
        author:
          type: string
          example: George Orwell
        isbn:
          type: string
          nullable: true
          example: '9780451524935'
      required:
        - title
        - author
    CsvResultsData:
      type: object
      description: Data payload for CSV import results.
      properties:
        books:
          type: array
          items:
            $ref: '#/components/schemas/CsvResultBook'
        errors:
          type: array
          items:
            type: object # Specific error object not defined, using generic object
            description: Details of any errors encountered during import.
        successRate:
          type: string
          example: '98/100'
        timestamp:
          type: number
          description: Unix timestamp (milliseconds).
          example: 1700000000000
        expiresAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp when results expire from KV cache (24 hours after job completion).
          example: '2025-01-16T10:00:00.000Z'
      required:
        - books
        - errors
        - successRate
        - timestamp
        - expiresAt
    CsvResultsResponseEnvelope:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/CsvResultsData'

    JobResultsResponseEnvelope:
      description: |
        Unified response envelope for job results across all pipeline types.
        Supports csv_import, batch_enrichment, and ai_scan pipelines.
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          properties:
            data:
              oneOf:
                - $ref: '#/components/schemas/CsvResultsData'
                - $ref: '#/components/schemas/AiScanResultsData'
                - $ref: '#/components/schemas/BatchEnrichmentResultsData'
            metadata:
              type: object
              properties:
                resourceId:
                  type: string
                  description: KV cache key where results are stored
                  example: csv-results:uuid-12345

    BatchEnrichmentResultsData:
      type: object
      description: Results data for batch enrichment jobs
      properties:
        enrichedBooks:
          type: array
          items:
            $ref: '#/components/schemas/EnrichedBookPayload'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ImportError'
        successRate:
          type: string
          example: '48/50'

    JobInitResponse:
      type: object
      description: Response for initiating an asynchronous job.
      properties:
        jobId:
          type: string
          description: Unique identifier for the initiated job.
          example: uuid-12345
        token:
          type: string
          description: Authentication token for WebSocket progress updates.
          example: auth-token-67890
      required:
        - jobId
        - token
    JobInitResponseEnvelope:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/JobInitResponse'

    BatchScanJobInitResponse:
      type: object
      description: Response for initiating a batch photo scan job.
      properties:
        jobId:
          type: string
          description: Unique identifier for the initiated job.
          example: batch-uuid-12345
        token:
          type: string
          description: Authentication token for WebSocket progress updates.
          example: auth-token-67890
        totalPhotos:
          type: number
          format: int32
          description: Total number of photos in the batch.
          minimum: 1
          maximum: 5
          example: 2
      required:
        - jobId
        - token
        - totalPhotos
    BatchScanJobInitResponseEnvelope:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/BatchScanJobInitResponse'

    # --- WebSocket Message Payloads ---
    WebSocketMessageEnvelope:
      type: object
      description: Universal envelope for all WebSocket messages.
      properties:
        type:
          $ref: '#/components/schemas/MessageType'
        jobId:
          type: string
          example: uuid-12345
        pipeline:
          $ref: '#/components/schemas/Pipeline'
        timestamp:
          type: number
          description: Unix timestamp (milliseconds).
          example: 1700000000000
        version:
          type: string
          description: WebSocket protocol version. v2.0.0 includes breaking changes to error format.
          example: '2.0.0'
        payload:
          type: object # Can be one of the specific payload types below
          description: Type-specific data for the message.
      required:
        - type
        - jobId
        - pipeline
        - timestamp
        - version
        - payload

    JobStartedPayload:
      type: object
      properties:
        type:
          type: string
          enum: [job_started]
        totalItems:
          type: number
          format: int32
          example: 10
        estimatedDuration:
          type: number
          format: int32
          description: Estimated duration in milliseconds.
          example: 30000
      required:
        - type
        - totalItems
        - estimatedDuration
    JobProgressPayload:
      type: object
      properties:
        type:
          type: string
          enum: [job_progress]
        progress:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          example: 0.5
        status:
          type: string
          example: Processing image 5 of 10
        processedCount:
          type: number
          format: int32
          example: 5
        currentItem:
          type: string
          nullable: true
          example: IMG_1234.jpg
      required:
        - type
        - progress
        - status
        - processedCount
    JobCompletionSummary:
      type: object
      description: |
        **Lightweight completion summary** (mobile-optimized, <1 KB).
        Full results are stored in KV cache and retrieved via HTTP GET using `resourceId`.
      properties:
        totalProcessed:
          type: integer
          description: Total items processed (books, photos, etc.)
          example: 200
        successCount:
          type: integer
          description: Number of successfully processed items
          example: 195
        failureCount:
          type: integer
          description: Number of failed items
          example: 5
        duration:
          type: integer
          description: Job duration in milliseconds
          example: 2341
        resourceId:
          type: string
          nullable: true
          description: |
            KV cache key for fetching full results via HTTP GET.
            Format: "job-results:{jobId}"
            Endpoint: GET /v1/jobs/{jobId}/results
          example: job-results:uuid-12345
      required:
        - totalProcessed
        - successCount
        - failureCount
        - duration

    AIScanSummary:
      type: object
      description: AI scan summary extending base summary with AI-specific stats
      properties:
        totalProcessed:
          type: integer
          example: 50
        successCount:
          type: integer
          example: 50
        failureCount:
          type: integer
          example: 0
        duration:
          type: integer
          example: 8500
        resourceId:
          type: string
          nullable: true
          example: job-results:uuid-12345
        totalDetected:
          type: integer
          nullable: true
          description: Books detected by Gemini Vision
          example: 50
        approved:
          type: integer
          nullable: true
          description: Auto-approved books (high confidence)
          example: 45
        needsReview:
          type: integer
          nullable: true
          description: Books requiring manual review (low confidence)
          example: 5
      required:
        - totalProcessed
        - successCount
        - failureCount
        - duration

    JobCompletePayload:
      type: object
      description: |
        **BREAKING CHANGE (v2.0 - Nov 15, 2025):**
        Job completion payloads migrated to summary-only format for mobile optimization.

        **OLD format (deprecated):** Included full arrays (books, errors, enrichedBooks) - 5-10 MB
        **NEW format:** Lightweight summary (<1 KB) + HTTP fetch for full results

        **Migration Required:** Update clients by Jan 15, 2026
        See: WEBSOCKET_MIGRATION_V2.md for iOS Swift migration guide
      oneOf:
        - $ref: '#/components/schemas/CSVImportCompletePayload'
        - $ref: '#/components/schemas/BatchEnrichmentCompletePayload'
        - $ref: '#/components/schemas/AIScanCompletePayload'

    CSVImportCompletePayload:
      type: object
      properties:
        type:
          type: string
          enum: [job_complete]
        pipeline:
          type: string
          enum: [csv_import]
        summary:
          $ref: '#/components/schemas/JobCompletionSummary'
        expiresAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp when results expire from KV cache (24 hours after completion)
          example: '2025-11-22T03:28:45.382Z'
      required:
        - type
        - pipeline
        - summary
        - expiresAt

    BatchEnrichmentCompletePayload:
      type: object
      properties:
        type:
          type: string
          enum: [job_complete]
        pipeline:
          type: string
          enum: [batch_enrichment]
        summary:
          $ref: '#/components/schemas/JobCompletionSummary'
        expiresAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp when results expire from KV cache (24 hours after completion)
          example: '2025-11-22T03:28:45.382Z'
      required:
        - type
        - pipeline
        - summary
        - expiresAt

    AIScanCompletePayload:
      type: object
      properties:
        type:
          type: string
          enum: [job_complete]
        pipeline:
          type: string
          enum: [ai_scan]
        summary:
          $ref: '#/components/schemas/AIScanSummary'
        expiresAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp when results expire from KV cache (24 hours after completion)
          example: '2025-11-22T03:28:45.382Z'
      required:
        - type
        - pipeline
        - summary
        - expiresAt
    ErrorPayload:
      type: object
      description: |
        **BREAKING CHANGE (v2.0.0 - Issue #167):**
        WebSocket error payload now matches HTTP canonical format (ResponseEnvelope) for consistency.
        Migration: Update clients to parse `error` object instead of flat `code`/`message` fields.
      properties:
        type:
          type: string
          enum: [error]
        data:
          type: "null"
          description: Always null for errors (matches HTTP ResponseEnvelope).
        metadata:
          type: object
          description: Metadata including timestamp in ISO 8601 format.
          properties:
            timestamp:
              type: string
              format: date-time
              example: '2025-01-15T10:00:00.000Z'
          required:
            - timestamp
        error:
          type: object
          description: Canonical error object (matches HTTP format).
          properties:
            message:
              type: string
              example: Invalid CSV format: Missing title column
            code:
              type: string
              nullable: true
              example: E_CSV_PROCESSING_FAILED
            details:
              type: object
              nullable: true
              example:
                lineNumber: 42
          required:
            - message
        retryable:
          type: boolean
          description: WebSocket-specific extension indicating if the operation can be retried.
          nullable: true
          example: true
      required:
        - type
        - data
        - metadata
        - error
    ReadyMessage:
      type: object
      description: |
        Client-to-server message sent immediately after WebSocket connection is established.
        **REQUIRED**: Client MUST send this message to acknowledge readiness before receiving job updates.
      properties:
        type:
          type: string
          enum: [ready]
      required:
        - type
      example:
        type: ready
    ReadyAckPayload:
      type: object
      description: Server-to-client acknowledgment of the client's ready message.
      properties:
        type:
          type: string
          enum: [ready_ack]
        timestamp:
          type: number
          description: Unix timestamp (milliseconds).
          example: 1700000000000
      required:
        - type
        - timestamp
    ReconnectedPayload:
      type: object
      properties:
        type:
          type: string
          enum: [reconnected]
        progress:
          type: number
          format: float
          example: 0.65
        status:
          type: string
          example: processing
        processedCount:
          type: number
          format: int32
          example: 65
        totalCount:
          type: number
          format: int32
          example: 100
        lastUpdate:
          type: number
          description: Unix timestamp (milliseconds) of last update.
          example: 1700004950000
        message:
          type: string
          example: Reconnected successfully - resuming job progress
      required:
        - type
        - progress
        - status
        - processedCount
        - totalCount
        - lastUpdate
        - message
    BatchInitPayload:
      type: object
      properties:
        type:
          type: string
          enum: [batch-init]
        totalPhotos:
          type: number
          format: int32
          example: 3
        status:
          type: string
          enum: [processing, queued]
          example: processing
      required:
        - type
        - totalPhotos
        - status
    BatchProgressPhotoStatus:
      type: object
      properties:
        index:
          type: number
          format: int32
          example: 0
        status:
          type: string
          enum: [queued, processing, complete, error]
          example: complete
        booksFound:
          type: number
          format: int32
          example: 13
        error:
          type: string
          description: Error message if photo processing failed.
          nullable: true
      required:
        - index
        - status
        - booksFound
    BatchProgressPayload:
      type: object
      properties:
        type:
          type: string
          enum: [batch-progress]
        currentPhoto:
          type: number
          format: int32
          example: 1
        totalPhotos:
          type: number
          format: int32
          example: 3
        photoStatus:
          type: string
          enum: [queued, processing, complete, error]
          example: complete
        booksFound:
          type: number
          format: int32
          description: Books found in the current photo.
          example: 12
        totalBooksFound:
          type: number
          format: int32
          description: Total books found across all processed photos.
          example: 25
        photos:
          type: array
          items:
            $ref: '#/components/schemas/BatchProgressPhotoStatus'
      required:
        - type
        - currentPhoto
        - totalPhotos
        - photoStatus
        - booksFound
        - totalBooksFound
        - photos
    BatchPhotoResult:
      type: object
      properties:
        photoIndex:
          type: number
          format: int32
          example: 0
        booksFound:
          type: number
          format: int32
          example: 13
        status:
          type: string
          enum: [success, error]
          example: success
      required:
        - photoIndex
        - booksFound
        - status
    BatchCompletePayload:
      type: object
      properties:
        type:
          type: string
          enum: [batch-complete]
        totalBooks:
          type: number
          format: int32
          example: 37
        photoResults:
          type: array
          items:
            $ref: '#/components/schemas/BatchPhotoResult'
        books:
          type: array
          items:
            $ref: '#/components/schemas/ScanResultBook' # Reusing ScanResultBook for batch complete books
      required:
        - type
        - totalBooks
        - photoResults
        - books
    BatchCancelingPayload:
      type: object
      properties:
        type:
          type: string
          enum: [batch-canceling]
      required:
        - type

  securitySchemes:
    WebSocketTokenAuth:
      type: apiKey
      in: query
      name: token
      description: |
        JWT-like authentication token for WebSocket connections.
        Obtained from the initial POST request (e.g., /api/batch-scan, /v1/enrichment/batch).
        Token lifecycle: Valid for job duration, auto-refreshed within 30 minutes of expiration for active connections.

security:
  - WebSocketTokenAuth: []
